.oe_product .oe_product_cart {
	border: 1px solid rgba(100, 100, 100, 0.2);
}
.oe_product {
	border: none;
}
#products_grid .table td {
	padding: 8px 4px;
}
#products_grid.col-lg-12 .oe_product {
	width: 24.7%;
}
.oe_product .oe_product_image {
	position: relative;
	left: inherit;
	right: inherit;
	top: inherit;
	bottom: inherit;
	transition: all 2s ease 0s;
	overflow: hidden;
}
.oe_product:hover .oe_product_image {
	opacity: 0.2;
}
.oe_product .oe_product_image img {
	position: relative !important;
	transition: all 2s ease 0s;
}
.oe_product:hover .oe_product_image img {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
}
.oe_product .oe_subdescription {
	display: none
}
.oe_product .o_wsale_product_information_text h6 a {
	letter-spacing: 0;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	display: inline-block;
	-webkit-transition-property: all;
	-webkit-transition-duration: 0.2s;
	-webkit-transition-timing-function: linear;
	-moz-transition-property: all;
	-moz-transition-duration: 0.2s;
	-moz-transition-timing-function: linear;
	-ms-transition-property: all;
	-ms-transition-duration: 0.2s;
	-ms-transition-timing-function: linear;
	-o-transition-property: all;
	-o-transition-duration: 0.2s;
	-o-transition-timing-function: linear;
	transition-property: all;
	transition-duration: 0.2s;
	transition-timing-function: linear;
	position: absolute;
	top: 0;
	width: 100%;
	font-size: 0.9375rem;
	color: #575757;
	left: 0;
}
@media (min-width: 992px) {
	.oe_product:hover h6 a {
		overflow: visible;
		height: auto;
		white-space: normal;
		-webkit-transform: translate(0%, -100%);
		-moz-transform: translate(0%, -100%);
		-ms-transform: translate(0%, -100%);
		-o-transform: translate(0%, -100%);
		transform: translate(0%, -100%);
		-webkit-transition-property: all;
		-webkit-transition-duration: 1s;
		-webkit-transition-timing-function: ease;
		-moz-transition-property: all;
		-moz-transition-duration: 1s;
		-moz-transition-timing-function: ease;
		-ms-transition-property: all;
		-ms-transition-duration: 1s;
		-ms-transition-timing-function: ease;
		-o-transition-property: all;
		-o-transition-duration: 1s;
		-o-transition-timing-function: ease;
		transition-property: all;
		transition-duration: 1s;
		transition-timing-function: ease;
	}
	.oe_product:hover .o_wsale_product_btn {
		-webkit-animation-duration: 1s;
		-webkit-animation-name: animatebottom;
		-moz-animation-duration: 1s;
		-moz-animation-name: animatebottom;
		-ms-animation-duration: 1s;
		-ms-animation-name: animatebottom;
		-o-animation-duration: 1s;
		-o-animation-name: animatebottom;
		animation-duration: 1s;
		animation-name: animatebottom;
		-webkit-transition-duration: 1s;
		-moz-transition-duration: 1s;
		-ms-transition-duration: 1s;
		-o-transition-duration: 1s;
		transition-duration: 1s;
		position: absolute !important;
		width: 100%;
		display: inline-block;
		background: $white;
		left: 0;
		border-top: 1px solid #ededed;
		bottom: 0;
	}
	.oe_product:hover .product_price b {
		display: none;
	}
	.oe_grid .o_wsale_product_btn {
		position: relative;
		padding-top: 0px;
		bottom: 0;
	}
	.oe_product .o_wsale_product_btn .btn.btn-secondary {
		display: none !important;
		color: $black !important;
		border: none;
		border-radius: 0;
	}
	.oe_product:hover .o_wsale_product_btn a.btn.btn-secondary,
	.oe_product:hover .o_wsale_product_btn button.btn.btn-secondary {
		display: block !important;
		float: left;
		padding: 10px 8px;
		background: transparent;
		width: 33.333%;
		border-right: 1px solid #ededed;
	}
}
.oe_product h6 {
	margin-bottom: 0px;
	display: inline-block;
	height: 24px;
	position: relative;
	width: 100%;
	font-size: 0.875rem;
}
#products_grid .oe_product:hover h6 {
	overflow: unset;
}
.oe_product .o_wsale_product_information {
	padding: 10px 15px 5px 15px !important;
	overflow: visible !important;
	position: relative !important;
}
@-webkit-keyframes animatebottom {
	from {
		bottom: -50px;
		opacity: 0;
	}
	to {
		bottom: 0px;
		opacity: 1;
	}
}
@keyframes animatebottom {
	from {
		bottom: -50px;
		opacity: 0;
	}
	to {
		bottom: 0px;
		opacity: 1;
	}
}
.oe_product .o_wsale_product_btn a.btn.btn-secondary:hover,
.oe_product .o_wsale_product_btn button.btn.btn-secondary:hover {
	background: $as-theme;
	color: $white !important;
}
.products_pager .oe_search_box,
#product_detail .oe_search_box {
	height: 40px;
}
.products_pager .btn.btn-primary,
.products_pager .btn.btn-secondary,
#product_detail .form-inline .btn.btn-primary,
#product_detail .form-inline .btn.btn-secondary,
.shop_detail_breadcrum .btn.btn-primary,
.shop_detail_breadcrum .btn.btn-secondary,
.o_portal_chatter_composer_btn.btn.btn-primary {
	background: none;
	border: 1px solid rgba(100, 100, 100, 0.2);
	color: $black;
	text-transform: capitalize;
	font-weight: normal;
}
.o_wsale_layout_list .oe_product.oe_list {
	padding-left: 0;
	border: 1px solid rgba(100, 100, 100, 0.2);
	margin-bottom: 15px;
	padding: 15px
}
.o_wsale_layout_list .oe_product.oe_list .oe_product_image {
	position: relative;
	display: inline-block;
}
.o_wsale_layout_list .oe_product.oe_list #website_published_button {
	position: absolute;
	right: 15px;
	top: 50%;
	transform: translateY(-50%);
}
.o_wsale_layout_list .oe_product.oe_list section {
	display: inline-block;
	height: auto;
	vertical-align: middle;
	padding: 0 !important;
	margin-left: 30px;
	height: auto !important;
	max-width: 50%;
}
.o_wsale_layout_list .oe_product.oe_list h6 {
	margin-bottom: 20px;
}
.o_wsale_layout_list .oe_product.oe_list section .product_price b {
	display: block;
	margin-bottom: 20px;
	font-size: 16px;
}
#products_grid_before > ul.nav li.nav-item a {
	background: none !important;
	font-size: 0.95rem;
	color: #969696;
	position: relative;
	padding: 2px 0;
	font-weight: 400;
	line-height: 1.9;
}
#products_grid_before .nav-pills {
	margin-bottom: 0;
}
#o_shop_collapse_category {
	margin-bottom: 30px !important;
}
#products_grid_before .nav-pills.mt16 {
	margin-top: 16px !important;
}
#products_grid_before .nav-pills .nav-hierarchy {
	display: block;
}
#products_grid_before .nav-pills.nav-hierarchy li {
	padding-left: 15px;
}
.products_pager .input-group > .form-control:not(:last-child),
.products_pager .input-group > .custom-select:not(:last-child) {
	border-radius: 0;
}
.pagination {
	align-items: center;
}
.pagination li {
	border-right: 1px solid #969696;
}
.pagination li:last-child {
	border-right: none;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span,
.pagination > li:last-child > a,
.pagination > li:last-child > span {
	border-radius: 0;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	padding: 0rem 0.75rem;
	color: #969696;
}
.pagination > li a {
	padding: 0rem 0.75rem;
	margin: 0;
	border: none;
	font-size: 12px;
	font-weight: 600;
}
.page-item.active .page-link,
.shop-filter .pagination > li.page-item.active .page-link,
.pagination > li a:hover,
.pagination > li.active a,
.pagination > li.active a:hover {
	background: none;
	color: $as-theme;
}
#products_grid_before .nav-pills > li.active > a,
#products_grid_before .nav-pills > li:hover > a,
#products_grid_before .nav-pills > li > a:hover {
	color: $as-theme !important;
}
#products_grid_before div strong {
	font-size: 0.875rem;
	text-transform: uppercase;
	letter-spacing: 0;
	width: 100%;
	display: inline-block;
	border-bottom: 1px solid #ededed;
	padding-bottom: 16px;
	color: $black;
}
.products_pager .btn.btn-primary,
.products_pager .btn.btn-secondary,
#product_detail .form-inline .btn.btn-primary,
#product_detail .form-inline .btn.btn-secondary,
.o_portal_chatter_composer_btn.btn.btn-primary {
	padding: 8px 17px !important;
	border-radius: 0;
}
#o_shop_collapse_category {
	margin-bottom: 30px;
}
#o_shop_collapse_category li i.fa {
	float: right;
	padding-top: 8px;
	font-size: 0.75rem;
	color: #969696 !important;
}
.o_wsale_layout_list .oe_product.oe_list h6 a {
	color: $black;
}
.o_wsale_layout_list .oe_product.oe_list h6 a:hover {
	color: $as-theme;
}
.o_wsale_layout_list .oe_product.oe_list .product_price .btn.btn-secondary {
	background: none;
	color: $black;
	border-color: rgba(100, 100, 100, 0.2);
}
.o_wsale_layout_list .oe_product.oe_list .product_price .btn.btn-secondary:hover,
.o_portal_chatter_composer_btn.btn.btn-primary:hover {
	background: $as-theme;
	border-color: $as-theme;
	color: $white;
}
body #product_details #add_to_cart {
	color: $black
}

.sale{
	text-align: center;
}

@media (max-width: 992px) {
	#products_grid .oe_product .o_wsale_product_information {
		background: none !important;
	}
}
@media (max-width: 480px) {
	table#cart_products > tbody > tr > td.td-img {
		display: none;
	}
	.table#cart_products > tbody > tr > td.td-qty {
    width: 55px;
    padding-right: 0px;
	}
	.oe_website_sale .oe_cart {
		padding: 0 0px;
		margin-bottom: 20px;
	}
	.oe_website_sale .sale {
		padding: 0 0px;
		margin-bottom: 20px;
	}
}

@media (max-width: 767px) {
	.oe_product {
		width: 49.3% !important;
		height: auto !important;
	}
}
@media (max-width: 479px) {
	.oe_product {
		width: 100% !important;
	}
	.products_pager .dropdown,
	.products_pager .pagination {
		margin-top: 15px !important;
	}
}
.sp_shop_header {
	padding: 50px 0;
	text-align: center;
}
.sp_shop_header h2 {
	margin: 0;
}
@media (max-width: 992px) {
	.oe_product h6 {
		padding: 0 15px;
	}
	.oe_product .product_price b {
		display: block;
		padding: 15px;
	}
	.oe_product .o_wsale_product_btn a.btn.btn-secondary,
	.oe_product .o_wsale_product_btn button.btn.btn-secondary {
		display: block !important;
		float: left;
		padding: 8px;
		background: transparent;
		width: 33.333%;
		color: $black !important;
		border: none;
		border-right: 1px solid #ededed;
		border-top: 1px solid #ededed;
		border-radius: 0;
	}
	.oe_product .o_wsale_product_information {
		padding: 10px 0 0 0 !important;
		height: auto !important;
		display: inline-block;
		width: 100%;
	}
}
@media (max-width: 767px) {
	.o_wsale_layout_list .oe_product.oe_list #website_published_button {
		position: inherit;
		right: inherit;
		top: inherit;
		transform: inherit;
		margin: 15px 0;
		display: inline-block;
	}
	.o_wsale_layout_list .oe_product.oe_list section {
		margin-left: 0;
		max-width: inherit;
	}
}
#products_grid_before .js_attributes > .nav-pills > li {
	margin-bottom: 16px;
}
#product_detail > .row {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}
body #product_details #add_to_cart {
	background: $as-theme;
	color: $white;
	font-size: 16px;
	padding: 15px 40px;
	border-color: $as-theme;
}
body #product_details .js_product > .o_add_wishlist_dyn,
#product_details .o_add_compare_dyn {
	background: none;
	color: $black;
	font-size: 16px;
	padding: 15px 40px;
	border-color: rgba(100, 100, 100, 0.2);
	border-radius: 0;
}
body #product_details .js_product > .o_add_wishlist_dyn:hover,
#product_details .o_add_compare_dyn:hover {
	background: $as-theme;
	color: $white;
	border-color: $as-theme;
	border-radius: 0;
}
.css_quantity {
	border: none;
}
.css_quantity .js_add_cart_json,
.css_quantity .form-control.quantity {
	border: 1px solid #ced4da;
	background-color: $white;
	color: #4c5462;
	z-index: 0;
}
.css_attribute_color {
	border-radius: 0;
}
#product_detail .breadcrumb {
	display: block;
}
#product_detail .carousel-indicators {
	display: block;
}
body #o-carousel-product .carousel-outer{position: relative; float: none; width: auto;}
body #o-carousel-product .carousel-indicators{width: 100%; min-height: inherit; text-align: center !important;}
body #o-carousel-product .carousel-indicators li {
	width: auto !important;
	height: auto !important;
	margin-bottom: 6px !important;
}
.carousel-control-prev,
.carousel-control-next {
	color: #969696
}
.breadcrumb li {
	display: inline-block;
}
.tab-content {
	border: 1px solid #e0e0e0;
	border-top: none;
	padding: 50px;
}
.prodcut-detail-tab-wrapper .nav-tabs li a {
	border: 1px solid #e0e0e0;
	background: #f5f5f5;
	padding: 0.6rem 1.5rem;
	display: inline-block;
	font-size: 0.875rem;
	color: #000000;
	font-family: inherit;
	text-transform: uppercase;
	margin-bottom: -3px;
}
.prodcut-detail-tab-wrapper .nav-tabs li a.active {
	border-top: 3px solid $as-theme;
	border-bottom: transparent;
}
.table-striped {
	margin-bottom: 0;
}
.table-striped tbody tr:nth-of-type(2n+1) {
	background-color: #fff;
}
#product_specifications .table-hover tbody tr:hover {
	background-color: #fff;
}
.prodcut-detail-tab-wrapper .table th,
.prodcut-detail-tab-wrapper .table td {
	padding: 1rem;
	border-top: none;
	border-bottom: 1px solid rgba(100, 100, 100, 0.2);
}
.tab-content .pt32,
.tab-content .pb32 {
	padding: 0 !important;
}
.tab-content .pt16,
.tab-content .pb16 {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}
#product_full_description {
	margin-top: 0 !important;
}
.o_website_rating_avg.text-center {
	text-align: left !important;
}
#product_detail.container {
	width: 90%;
}
.shop_detail_breadcrum {
	background: #eef2f6;
	padding: 10px 0;
}
.shop_detail_breadcrum .breadcrumb {
	padding: 0;
	margin-bottom: 0;
	background: none;
}
.products_pager .o_website_sale_search {
	display: none;
}
#product_detail #product_details{
	flex: 0 0 33.33333333%;
	max-width: 33.33333333%;
}
@media (max-width: 992px) {
	#product_detail #product_details {
		flex: inherit;
		max-width: inherit;
		width: 100%;
		margin-top: 50px;
	}
	.prodcut-detail-tab-wrapper .nav-tabs li a {
		padding: 0.6rem 1rem;
	}
	#product_detail #product_details {
		flex: 0 0 100%;
		max-width: 100%;
	}
}
@media (max-width: 767px) {
	.o_portal_chatter .media {
		display: block;
	}
	.o_portal_chatter .media .media-body {
		margin-top: 10px;
	}
	.o_portal_chatter .js_publish_management.css_published {
		margin: 20px 0;
		float: none !important;
	}
	.shop_detail_breadcrum .form-inline {
		margin-top: 15px;
	}
}
@media (max-width: 479px) {
	.tab-content {
		padding: 30px;
	}
	#product_detail #o-carousel-product .carousel-indicators {
		display: flex;
		width: 100%;
		min-height: inherit;
		position: inherit;
		height: auto !important;
	}
	body #o-carousel-product .carousel-indicators li {
		width: 50px !important;
		height: 50px !important;
	}
	#product_detail.container {
		width: 100%;
	}
	#product_detail > .row {
		margin: 0 auto;
	}
	body #o-carousel-product .carousel-outer {
		float: none;
		width: 100%;
	}
	body #o-carousel-product .carousel-outer .carousel-item {
		min-height: inherit !important;
	}
	#o-carousel-product .carousel-inner div.item,
	#o-carousel-product .carousel-control-prev,
	#o-carousel-product .carousel-control-next {
		height: auto !important;
	}
}
#product_additional_info h6 a {
	color: $black;
	margin-top: 15px;
}
#product_additional_info h6 a:hover {
	color: $as-theme;
}
.btn.btn-success.js_publish_btn {
	background: $as-theme;
	border-color: $as-theme
}
body .progress-wizard .progress-wizard-step.active .progress-wizard-dot {
	background-color: $as-theme;
	box-shadow: 0 0 0 0.1875rem white, 0 0 0 0.25rem $as-theme;
}
.popover.mycart-popover {
	top: 100px !important;
	right: 0 !important;
	left: inherit !important;
}
.popover.mycart-popover .arrow {
	top: -18px !important;
	transform: rotate(-90deg);
	right: 6px;
}
#product_option_block .btn-link:before {
	display: none;
}
#product_detail .o_wsale_products_searchbar_form {
	display: none;
}
.oe_product_cart .o_wsale_product_btn {
	position: relative;
	top: inherit;
	left: inherit;
	bottom: inherit;
	right: inherit;
	padding-bottom: 0;
}
.oe_product_cart {
	overflow: hidden;
}
.oe_product_cart:hover {
	box-shadow: none;
}
.oe_product_cart:hover .o_wsale_product_information {
	background: none !important
}
.oe_product_cart .o_wsale_product_btn .btn {
	transform: inherit;
}
#products_grid .table .o_wsale_product_grid_wrapper > * {
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
#products_grid.o_wsale_layout_list .oe_product_cart .o_wsale_product_information {
	display: block;
}
.o_wsale_layout_list .oe_product .o_wsale_product_btn {
	position: relative !important;
	width: auto;
	display: inline-block !important;
	border-top: none;
	background: none !important
}
.o_wsale_layout_list .oe_product:hover .o_wsale_product_btn {
	animation: inherit !important;
}
.o_wsale_layout_list .oe_product:hover h6 a {
	transform: inherit !important;
}
.o_wsale_layout_list .oe_product .oe_subdescription {
	display: block;
}
.o_wsale_layout_list .oe_product .o_wsale_product_btn .btn {
	margin-right: 10px;
}
.o_wsale_layout_list .oe_product .o_wsale_product_btn .btn:last-child {
	margin-right: 0;
}
.o_wsale_layout_list .oe_product .o_wsale_product_btn a.btn.btn-secondary,
.o_wsale_layout_list .oe_product .o_wsale_product_btn .btn.btn-secondary,
.o_wsale_layout_list .oe_product:hover .o_wsale_product_btn button.btn.btn-secondary {
	display: inline-block !important;
	float: left;
	padding: 10px 15px;
	background: #fff;
	width: auto;
	border-right: none;
}
.oe_product .o_wsale_product_btn a.btn.btn-secondary:hover,
.o_wsale_layout_list .oe_product .o_wsale_product_btn button.btn.btn-secondary:hover {
	background: $as-theme !important;
}
#products_grid.o_wsale_layout_list .oe_product_cart .o_wsale_product_btn .btn + .btn {
	margin-top: 0;
}