/* Blog*/

.website_blog {

	.blogpost {
		.o_blog_cover_container.cover_narrow {
			margin-top: 0 !important;
		}
	}
	.sidebar {
		margin-bottom: 20px;
		padding-bottom: 20px;
		border-bottom: 1px solid #f1f1f1;
	}
	.o_blog_cover_container.cover_narrow {
		width: 100%;
	}
	.o_blog_cover_container.cover {
		>.blog_title {
			h1 {
				color: $as-white;
			}
			h2 {
				color: $as-white;
			}
		}
	}
	.o_blog_cover_container.cover_footer {
		>.blog_title {
			h1 {
				color: $as-white;
			}
			h2 {
				color: $as-white;
			}
		}
	}
}

.website_blog .o_blog_cover_container.cover > .blog_title h1,
.website_blog .o_blog_cover_container.cover > .blog_title h2 {
    color: #313131;
    background: #fff;
    display: inline-block;
    padding: 5px 10px;
}

.blogpost {
	border-radius: 6px;
	overflow: hidden;
	box-shadow: inherit !important;
	background: #fff;
	margin-bottom: 30px;
}
.blogpost-content {
	>header {
		padding: 0 25px;
	}
	>p {
		padding: 0 25px;
	}
}
.blogpost-body {
	footer {
		background: none;
		padding: 0 25px;
		padding-bottom: 20px;
	}
}
.sidebar {
	ul.nav-stacked {
		>li {
			>a {
				padding: 2px 0;
				color: $as-light3;
			}
		}
	}
	.ul.nav-stacked {
		>li {
			margin-top: 0;
		}
	}
}



/* cart*/

.btn-group.open {
	.dropdown-toggle {
		-webkit-box-shadow: inherit;
		box-shadow: inherit;
	}
}
.dropdown-menu.cart {
	min-width: 300px;
	max-height: 350px;
	overflow: auto;
	overflow-x: hidden;
	padding-bottom: 0;
	.cart_line {
		border-bottom: 1px dotted #adadad;
		padding: 10px 0;
	}
	#order_total {
		.h4 {
			font-size: 16px;
			padding-top: 10px;
			padding-bottom: 10px;
		}
	}
}
header .dropdown-menu.cart #cart_total{margin-top: 0; margin-bottom: 0; padding: 10px;}
header .dropdown-menu.cart .cart_line:last-child{margin-bottom: 0px !important;}
body header .header-buttons .dropdown-menu.cart a.btn{background: none; color: #323232; display: block; margin: 20px 15px;}
body header .header-buttons .dropdown-menu.cart a.btn:hover{background: #323232; color: #ffffff;}
header {
	.header-buttons {
		.dropdown-menu.cart {
			a {
				padding-left: 0;
				padding-right: 0;
			}
			a.btn {
				font-size: 10px;
				padding: 8px 20px;
				background: $as-theme;
				color: $as-white;
			}
		}
	}
}

.product-item .title { margin: 0 0 10px 0; font-weight: 400;}
.list-view-box .as-product-list li{width: 20%; }

.product-item .btn.btn-default{
	background: #fff;
}
.product-item .pro-des h3{
	    font-size: 17px;
    line-height: 1.6;
    margin-top: 25px;
    margin-bottom: 5px;
}

.input-group-addon {
	border-width: 2px;
	border-radius: 43px;
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
	border-color: $as-light1;
	background-color: inherit;
	min-width: 30px;
	margin: 0 !important;
	text-align: center;
	line-height: 45px;
	a {
		color: $as-light1;
	}
}
.input-group-addon.float_left {
	border-radius: 43px;
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
}
.css_quantity {
	.form-control {
		border-left: 0;
		border-width: 2px;
		padding: 0;
		border-color: $as-light1;
		border-right: 0;
		height: 46px;
	}
}
.form-control.js_quantity {
	border-left: 0;
	border-width: 2px;
	padding: 0;
	border-color: $as-light1;
	border-right: 0;
	height: 46px;
}
#discussion {
	textarea.form-control {
		background: #fff;
	}
}



/* Cart Page*/
#right_column {
	h4 {
		font-size: 13px;
		font-weight: bold;
		line-height: 1.2;
		text-transform: uppercase;
		letter-spacing: .3px;
		padding: 8px 0 9px;
		border-bottom: 2px solid rgba(0,0,0,0.08);
		color: $as-dark;
	}
}
#blog_right_column {
	h3.title,h4 {
		font-size: 13px;
		font-weight: bold;
		line-height: 1.2;
		text-transform: uppercase;
		letter-spacing: .3px;
		padding: 8px 0 9px;
		border-bottom: 2px solid rgba(0,0,0,0.08);
		color: $as-dark;
	}
}
.table#cart_products {
	>thead {
		>tr {
			>th {
				border-bottom: 2px solid rgba(0,0,0,0.08);
				font-size: 11px;
				font-weight: bold;
				line-height: 1.2;
				text-transform: uppercase;
				letter-spacing: .3px;
				color: $as-dark;
			}
		}
	}
}
.table-striped#cart_products {
	>tbody {
		>tr {
			&:nth-of-type(odd) {
				background-color: inherit;
				border-top: 1px dashed #e7e7e7;
			}
		}
	}
}
.table-condensed {
	>thead {
		>tr {
			>th {
				padding: 10px;
			}
			>td {
				padding: 10px;
			}
		}
	}
	>tbody {
		>tr {
			>th {
				padding: 10px;
			}
			>td {
				padding: 10px;
			}
		}
	}
	>tfoot {
		>tr {
			>th {
				padding: 10px;
			}
			>td {
				padding: 10px;
			}
		}
	}
}
#order_total {
	.h4 {
		font-size: 21px;
		font-weight: bold;
		line-height: 1.2;
		text-transform: uppercase;
		letter-spacing: .3px;
		padding-top: 20px;
		padding-bottom: 20px;
		vertical-align: bottom;
		color: $as-dark;
	}
}
body {
	#wrap {
		ul.wizard {
			box-shadow: inherit;
			float: none !important;
			display: table;
			margin: 30px auto;
			border: 1px solid #e7e7e7;
			border-radius: 43px;
			li {
				border: none;
				font-size: 11px;
				font-style: normal;
				background: none;
				color: $as-grey;
				font-weight: 700;
				text-transform: uppercase;
				line-height: 43px;
				letter-spacing: .8px;
				.chevron {
					display: none;
				}
				&:first-child {
					padding-left: 20px;
					border-radius: 43px 0 0 43px;
				}
			}
			li.text-primary {
				color: $as-white;
				background: $as-theme;
				-webkit-box-shadow: 0 15px 50px 0 rgba(0,0,0,0.35);
				box-shadow: 0 15px 50px 0 rgba(0,0,0,0.35);
			}
		}
	}
}
.oe_login_form, .oe_signup_form, .oe_reset_password_form{margin-top: 20vh;}



.contact-add2 i { float: left;    width: 27px;    font-size: 19px;    color: $as-theme;    display: block;}


.slider-control{
	position: absolute; 
	right: 50px; 
	bottom: 0;
} 
.slider-control .control-inner{
	width: 80px; 
	height: 80px; 
	background: #ffffff; 
	margin-left: 0;
	display: inline-block; 
	text-align: center; 
	line-height: 80px;
}

/*=============================================================*/
/* Product All Style */
/*=============================================================*/
.header-main .navbar-nav li#my_cart,
.header-main .navbar-nav li#my_wish {
	display: none;
}
.ad_products_slider{
	margin-top: 60px;
	margin-bottom: 60px;
}
.hide-title .seaction-head {
	display: none;
}
.dark-bg .pro-des h3, 
.dark-bg .pro-des h3 a{
	color: #ffffff;
}
.dark-bg .product_price{
	color: #969696;
}
.skill-bar .progress-bar{
	position: relative
}
.skill-bar .progress-bar .progress-number{
	position: absolute;
	right: 16px;
}
.skill-bar .progress-bar .progress-type{
	position: absolute;
	right: 0;
}

.s_latest_posts .media.media_list_template {
	display: block;
}
.s_latest_posts .post-body {
	padding: 0;
}
.s_latest_posts .theme-post .o_blog_cover_image{
	height: 200px;
	width: 100%;
	margin-bottom: 30px;
}

/*--------------------------*/
/* List Full Width */
/*--------------------------*/
.ad_products_slider .without-slider .product-item > form{
	margin: 0 15px;
	position: relative
}

/*--------------------------*/
/* List Full Width Style 2 */
/*--------------------------*/
.ad_products_slider .without-slider.product-style-2 .product-item > form{
	margin: 0;
	-webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.35);
	-moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.35);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.35);
}

/*--------------------------*/
/* Products Slider */
/*--------------------------*/
.ad_products_slider .owl-nav .owl-prev {
	transform: translateY(-50%);
	left: -30px;
	outline: none;
}
.ad_products_slider .owl-nav .owl-next{
	transform: translateY(-50%);
	right: -30px;
	outline: none;
}

/*=============================================================*/
/* Product Grid */
/*=============================================================*/
.as-product-list > ul{padding: 0; margin: 0;}
.as-product-list > ul > li{list-style-type: none;}

/* Product Action */
.product-item{position: relative;}
.product-item .pro-action{position: absolute; top: 17px; right: 0px; width: 40px; opacity: 0; visibility: hidden; -webkit-transition:all 0.5s ease-in-out 0s; -moz-transition:all 0.5s ease-in- out 0s; transition:all 0.5s ease-in-out 0s;}
.product-item:hover .pro-action{right: 17px; opacity: 1; visibility: visible;}

.product-item .pro-action .button{width: 100%; text-align: center;}
.product-item .pro-action .button span{display: none;}
.product-item .pro-action .button,
.product-item .pro-action > a{
	background: none; 
	border: none; 
	display: inline-block; 
	padding: 0; 
	margin: 0; 
	vertical-align: top;
}
.product-item .pro-action > a,
.product-item .pro-action .button{
    background: #ffffff;
    border: 1px solid #e8e8e8;
    color: #323232;
    padding: 0;
    margin: 0;
    width: 42px;
    height: 42px;
    line-height: 42px;
    border-radius: 0;
    margin-bottom: 4px;
    -webkit-transition:all 0.3s ease-in-out 0s; -moz-transition:all 0.3s ease-in- out 0s; transition:all 0.3s ease-in-out 0s;
}
.product-item .pro-action > a:hover,
.product-item .pro-action .button:hover{
	background: $as-theme;
	color: #ffffff;
    border-color: transparent;
}

/* Hover Style2 */
.product-style-2 .product-item .asp-inner{position: relative;}
.product-style-2 .product-item .pro-des{
    width: 100%;
    height: 100%;
    position: absolute; 
    bottom: 0px; 
    left: 0px;
    margin-top: 0; 
    padding-left: 20px;
    opacity: 0; 
    visibility: hidden;
    -webkit-transition:all 0.3s ease-in-out 0s; -moz-transition:all 0.3s ease-in- out 0s; transition:all 0.3s ease-in-out 0s;
}
.product-style-2 .product-item:hover .pro-des{opacity: 1; visibility: visible;}
.product-style-2 .product-item .pro-des h3{margin-top: 35px; -webkit-transition:all 0.3s ease-in-out 0s; -moz-transition:all 0.3s ease-in- out 0s; transition:all 0.3s ease-in-out 0s;}
.product-style-2 .product-item:hover .pro-des h3{margin-top: 20px;}


/* Product Title */
.pro-des {margin-top: 20px;}
.pro-des h3,
.pro-des h3 a{font-size: 16px; line-height:24px; font-weight:400; color: #323232; margin-bottom:8px; white-space: nowrap;
    text-overflow: ellipsis;  overflow: hidden;}
.pro-des h3:hover,
.pro-des h3 a:hover{color: $as-theme;}

/* Product Price */
.product_price{color: #323232; font-size: 14px; font-weight: 700;}
.product_price b{font-weight: inherit;}

/*============================*/
/* Product Grid */
/*============================*/
.product-grid{margin-left: -15px; margin-right: -15px;}
.product-grid .as-product-list > ul > li{list-style-type: none; margin-top: 40px;}
.product-grid .as-product-list > ul > li > form{padding: 0 15px;}

/*=============================================================*/
/* Product Grid - Responsive */
/*=============================================================*/
 .container.oe_website_sale{width: 95%; max-width: 100%}
.container.oe_website_sale h2{ font-size: 24px;    font-weight: 400;}

/*============================*/
/* Product Snippet */
/*============================*/
.ad_products_slider .without-slider,.js_multi_collection .slider-wrap,.multi_tab_product_snippet .slider-wrap{padding-left: 50px;  padding-right: 50px;}
.ad_products_slider .without-slider.container {    padding-left: 15px;  padding-right: 15px;}
.ad_products_slider .without-slider img{width: 100%}
.ad_products_slider .without-slider  .product-item{width: 20%; float: left; margin-top: 40px}
.ad_products_slider .without-slider  .product-item:nth-child(-n+5){margin-top: 0;}
.ad_products_slider .without-slider  .product-item .asp-inner{margin: 0 15px; position: relative;}

.ad_products_slider .without-slider.product4 .product-item{width: 25%; margin-top: 30px;}
.ad_products_slider .without-slider.product4 .product-item:nth-child(-n+4){margin-top: 0px;}

.ad_products_slider .without-slider.product3 .product-item{width: 33.3%; margin-top: 30px;}
.ad_products_slider .without-slider.product3 .product-item:nth-child(-n+3){margin-top: 0px;}

.owl-carousel .owl-item .product-item img{width: 100%;}
.ad-products-slider{margin-top: 60px; margin-bottom: 50px;}
.ad-products-slider .slider-wrapper{padding: 0 50px;}
.ad-products-slider .slider-wrapper.container{padding: 0 15px;}
.seaction-head {text-align: center;}

.seaction-head h1{margin-bottom: 30px; font-weight: 400 !important; font-size: 50px;}
.seaction-head h2{margin-bottom: 30px; font-weight: 400 !important; font-size: 50px;}

.ad_products_slider .without-slider.product-style-2 .product-item{margin-top: 0 !important;}
.ad_products_slider .without-slider.product-style-2 .product-item .asp-inner{margin: 0; -webkit-box-shadow: 0 0 1px rgba(0,0,0,0.35); -moz-box-shadow: 0 0 1px rgba(0,0,0,0.35); box-shadow: 0 0 1px rgba(0,0,0,0.35);}
.ad_products_slider .product-style-2{padding: 0; overflow: hidden;}
.ad_products_slider .product-style-2 .product-item .asp-inner{margin: 0}
body:not(.editor_enable) .ad_products_slider .product-style-2 .seaction-head{display: none}

/*=====================================*/
/* Multi Product Snippet - Showcase*/
/*=====================================*/
.multi_tab_product_snippet .product_detail .filter_title{font-size: 20px; font-weight: 600;}
.multi_tab_product_snippet .preview-image img{width: 65px; height: auto; float: left; margin-right: 15px;}
.multi_tab_product_snippet .product_detail .product-item .pro-des{min-height: 65px;}
.multi_tab_product_snippet .product_detail .product-item .pro-des h3{margin-top: 0; margin-bottom: 0;}
.multi_tab_product_snippet .product_detail .product-item .pro-des h3 a{font-size: 14px;}
.multi_tab_product_snippet .product_detail .product-item .pro-action{display: none;}
.multi_tab_product_snippet .seaction-head{display: none;}

.multi_tab_product_snippet .product_tab_content{width: 1140px; margin: 0 auto;}

/*====================================*/
/* Multi Tab Product */
/*====================================*/
.js_multi_collection .seaction-head {margin-bottom: 40px;}
.multi_tab_slider .nav-tabs {border-bottom: none; margin-bottom: 30px; text-align: center;}
.multi_tab_slider .nav-tabs li{display: inline; float: none;}
.multi_tab_slider .nav-tabs li a{border: none; display: inline-block; font-size: 30px; font-weight: 400; color: #969696; padding: 0 15px; margin: 0;}
.multi_tab_slider .nav-tabs li:hover a,
.multi_tab_slider .nav-tabs li a:hover,
.multi_tab_slider .nav-tabs li.active a{background: none; border: none; color: #323232;}
.multi_tab_slider .nav-tabs li:after{content:"/"; position: relative; left: -3px; top: -2px; font-weight: 600; color: #969696; font-size: 18px; font-style: italic;}
.multi_tab_slider .nav-tabs li:last-child:after{content:normal;}
.multi_tab_slider .nav-tabs li:first-child a{padding-left: 0;}
.multi_tab_slider .nav-tabs li:last-child a{padding-right: 0;}


/*====================================*/
/* Product Split Slider */
/*====================================*/
.split-slider .product-slider {float: left; width: 75%;}
.split-slider.split-right .product-slider {float: right;}
.split-slider .imgblock{float: left; width: 25%; padding-left: 25px;}
.split-slider .imgblock.left-block{padding-left: 0px; padding-right: 25px;}

/*====================================*/
/* Product Split Slider 2 column*/
/*====================================*/
.slider-seprate .product-slider {float: left; width: 50%; padding: 20% 15%;}
.slider-seprate.split-right .product-slider {float: right;}
.slider-seprate .imgblock{float: left; width: 50%; padding-left: 25px;}
.slider-seprate .imgblock.left-block{padding-left: 0px; padding-right: 25px;}

/*===================================*/
/* Shop Page */
/*===================================*/
.as-product-list ul,.as-product-list li{margin: 0; padding: 0}
.as-product-list li{float: left;  margin-bottom:30px; padding-right: 10px; padding-left: 10px; width: 24.99%; list-style: none; transition: all .3s ease;}

/* Product Style */
.as-product-list .product-item {border: 1px solid #e8e8e8;}
.as-product-list .product-item .pro-des {margin-top: 0; padding: 20px;}
.as-product-list .product-item .pro-des h3 {margin-top: 0;}

/* Sale Ribbon 
.product-item span.sale {background: #f75a5a; color: #ffffff; display: inline-block; position: absolute; font-size: 12px; text-transform: uppercase;  padding: 3px 10px; top: 10px; left: 0px;}
.product-item span.sale ul{margin: 0; padding: 0;}
.product-item span.sale ul li{float: none; width: auto; padding: 0; margin: 0;}*/

.product-item span.sale {position: absolute; top: 15px; left: 0px;}
.product-item span.sale ul{margin: 0; padding: 0;}
.product-item span.sale ul li {float: none; width: auto; padding: 0; margin: 0; min-height: inherit; min-width: inherit; margin: 0 !important; background: #f4524d; color: #ffffff; font-size: 12px; text-transform: uppercase;  padding: 0px 8px;}
.product-item span.sale ul li:after, 
.product-item span.sale ul li:before {content: ""; position: absolute; right: -10px; color: #f4524d; border: solid 10px transparent; border-left-color: #f4524d;}
.product-item span.sale ul li:after{transform: rotate(-90deg); -webkit-transform: rotate(-90deg);}
.product-item span.sale ul li:before{transform: rotate(90deg); -webkit-transform: rotate(90deg);}

/*---------------------*/
/* Shop Filter */
/*---------------------*/
.shop-filter{border-bottom: 1px solid #e8e8e8; padding: 30px 50px; margin-bottom: 30px;}
.shop-filter .dropdown .dropdown-toggle {border-radius: 0; text-transform: uppercase; font-weight: 500; padding: 8px 15px;}

.shop-filter .pagination{margin: 0px; vertical-align: top; display:inline-block;}
.shop-filter .pagination > li{ display: inline; float: left; }
.shop-filter .pagination > li a {padding: 0px 10px; margin: 0 3px; min-width: 30px; height: 32px; line-height: 30px;}
.shop-filter .pagination > li:first-child > a, 
.shop-filter .pagination > li:first-child > span, 
.shop-filter .pagination > li:last-child > a, 
.shop-filter .pagination > li:last-child > span { border-radius: 0 !important; padding: 0px 16px; font-size: 14px; height: 32px;  line-height: 30px;}
.page-item.active .page-link,
.shop-filter .pagination > li.page-item.active .page-link{background:#222; border-color:#222;}


.shop-filter form{margin-right: 10px; border-bottom: 1px solid #dddddd; display: inline-block;}
.shop-filter form .form-control{height: 32px; padding: 0px; border: none; box-shadow: none;}
.shop-filter form .btn{padding: 7px 10px; background: none; color: #969696; border: none;}
.shop-filter form .btn:hover{color: #323232; background: none; border: none;}

.shop-filter .view-mode{float: right; margin-left: 20px;}
.shop-filter .view-mode button{background: none; border: none; color: #cccccc; height: 32px; width: 25px; padding: 0;}
.shop-filter .view-mode button.active {color: #323232;}
.shop-filter .view-mode button:focus{border: none; outline: none;}

.shop-filter .dropdown{float: right; position: relative; margin-left: 25px;}
.shop-filter .dropdown.show > .dropdown-menu{left: auto; right: 0; border: 1px solid #f5f5f5; padding: 10px 0; -webkit-box-shadow: 0 3px 8px rgba(0,0,0,0.1); -moz-box-shadow: 0 3px 8px rgba(0,0,0,0.1); box-shadow: 0 3px 8px rgba(0,0,0,0.1);}
.shop-filter .dropdown .btn-default,
.shop-filter .dropdown .btn-default:hover,
.shop-filter .dropdown .btn-default:focus{font-size: 12px;  padding: 7px 0px; background: none; color: #323232; border: none; text-transform: uppercase;}
.dropdown-menu > li > a{display: block; padding: 3px 20px; clear: both; font-weight: normal; line-height: 1.42857143; color: #757575; white-space: nowrap;}
.shop-filter .dropdown.show .btn-default,
.shop-filter .dropdown .btn-default:hover{color: #323232;}
.shop-filter .dropdown .btn-default:focus{background: none; box-shadow: none;}
.shop-filter .dropdown .dropdown-menu li a{font-size: 13px; padding: 5px 20px;}
.shop-filter .dropdown .dropdown-menu li a:hover{background: none; color: $as-theme;}

.menu-filter {display: none;}
.menu-filter.btn.btn-default {margin-left: 10px; padding: 7px 17px;     color: #969696; float: right;   border: 1px solid #969696;}
/*---------------------*/
/* Shop Sidebar */
/*---------------------*/
#products_grid_before .nav-pills{margin-top: 0px !important; margin-bottom: 30px;}
#products_grid_before .nav-pills > li{margin: 0; padding: 0;}
#products_grid_before .nav-pills > li > a{padding: 7px 0; background: none; color: #969696; line-height: 20px; border-radius: 0;}
#products_grid_before .nav-pills > li.active > a,
#products_grid_before .nav-pills > li:hover > a,
#products_grid_before .nav-pills > li > a:hover{background: none; color: #323232;}
#products_grid_before .nav-pills .nav-hierarchy{display: none;}

#products_grid_before .js_attributes > .nav-pills > li{margin: 0; padding: 0; margin-bottom: 30px;}
#products_grid_before .js_attributes > .nav-pills > li:last-child{margin-bottom: 0px;}
#products_grid_before .nav-pills > li > div{color: #323232; margin-bottom: 15px; font-weight: 600; font-size: 16px;}
#products_grid_before .nav-pills > li > div strong{font-weight: inherit;}
#products_grid_before .nav-pills > li .nav-pills{margin-left: 0;}
#products_grid_before .nav-pills > li .nav-pills li label{margin: 0 !important; padding: 0;}
#products_grid_before .nav-pills > li .nav-pills li label > span{padding-left: 8px;}

.js_attribute_value .control-label{font-weight: 600;}

.css_attribute_color {line-height: normal; margin-right: 3px; border:1px solid #dfdfdf; width: 20px; height: 20px; border-radius: 50px;}
.css_attribute_color input,
.css_attribute_color.active input{margin: 4px; height: 5px;}
.css_attribute_color.active {border: 1px solid #323232;}

.js_attributes .irs{margin-bottom: 10px;}
.js_attributes .irs .irs-line {height: 6px; top: 29px;}
.js_attributes .irs .irs-bar {height: 6px; top: 29px;}
.js_attributes .irs .irs-slider{width: 13px; height: 13px; top: 25px; background: #ececec; border-radius: 50px; border: 1px solid #d4d5d6; box-shadow: 0 1px 3px rgba(0,0,0,0.25);}
.js_attributes .irs .irs-bar{background: #323232;}
.js_attributes .irs .irs-from, 
.js_attributes .irs .irs-to, 
.js_attributes .irs .irs-single{background: none; color: #323232; font-size: 13px;}
.js_attributes .irs-from:after, 
.js_attributes .irs-to:after, 
.js_attributes .irs-single:after{content: normal;}
.js_attributes #minprice,
.js_attributes #maxprice{padding: 5px 10px; font-size: 14px; border: 1px solid #e1e4e9; width: 38%; margin-right:5px; float: left;}
.js_attributes #slider_form{background: $as-theme; color: #ffffff; border: none; height: 28px;}

/*---------------------*/
/* Product List */
/*---------------------*/
#products_grid.list-view-box .as-product-list > ul > li{width: 47%; border: 1px solid #e9e9e9; margin-right: 3%; padding: 0;}
#products_grid.list-view-box .as-product-list > ul > lis:nth-child(n+0){margin-right: 0px;}
#products_grid.list-view-box .as-product-list > ul > li > form {padding: 0;}

#products_grid.list-view-box .as-product-list > ul > li .asp-inner{display: table;}
#products_grid.list-view-box .as-product-list > ul > li .pro-img{position: relative; display: table-cell; width: 250px; padding-right: 30px;}
#products_grid.list-view-box .as-product-list > ul > li .pro-des {margin-top: 20px; display: table-cell; vertical-align: middle;}
#products_grid.list-view-box .as-product-list .product-item .pro-des h3{margin-top: 0;}
#products_grid.list-view-box .as-product-list .product-item .pro-action{opacity: 1; visibility: visible; top:17px; right: 17px;}

/*---------------------*/
/* Product Grid */
/*---------------------*/
#products_grid.grid-view-box .as-product-list li{width: 20%;}


/*---------------------*/
/* Pagination */
/*---------------------*/
.pagination > li a{padding: 8px 15px; margin: 0 3px; background: none; border-radius:0; color: #969696; min-width: 35px; text-align: center; -webkit-transition:all 0.3s ease-in-out 0s; -moz-transition:all 0.3s ease-in- out 0s; transition:all 0.3s ease-in-out 0s;}
.pagination > li a:hover,
.pagination > li.active a,
.pagination > li.active a:hover{background: #323232; color: #ffffff; border-color: #323232;}
.pagination > li:first-child > a, 
.pagination > li:first-child > span,
.pagination > li:last-child > a, 
.pagination > li:last-child > span{border-radius:0; padding: 8px 20px; color: #969696;}

.products_pager .dropdown_sorty_by .btn {padding: 6px 15px; border-radius: 0;}

/*==================================*/
/* Shop Details Page */
/*==================================*/
#product_detail.container{width: 90%; margin-top: 50px !important; flex-wrap: wrap;}
#product_detail > .row{display: block; flex-wrap: inherit; width: 100%;}
#product_detail .breadcrumb{display: none}

#product_detail.container {width: 100%; margin-top: 0px !important; max-width: 1400px; display: -webkit-flex; display: -webkit-box;
    display: -webkit-flex; display: flex;}
#product_detail .product-gallery, 
#product_detail #product_details {flex: 0 0 50%; max-width: 50%; padding-right: 15px; padding-left: 15px;}

body #product_details .variant_attribute .form-group .col-form-label{padding-top: 0; padding-bottom: 0;}
body #product_details form .js_main_product,
body #product_details .css_quantity{margin-bottom: 30px;}
body #product_details .js_product > .btn-default,
body #product_details .js_product > .o_add_wishlist_dyn{background: none; border: 1px solid #e8e8e8; color: #969696; padding: 12px 20px; margin-left: 10px; border-radius: 0;}
body #product_details .js_product > .btn-default:hover,
body #product_details .js_product > .o_add_wishlist_dyn:hover{border-color: #323232; color: #323232;}

body #product_details #add_to_cart{background: #323232; color: #ffffff; border: 1px solid #323232; padding: 12px 25px; border-radius: 0;}
body #product_details #add_to_cart:hover{background: none; color: #323232;}

body #o-carousel-product .carousel-indicators{   width: 180px; min-height: 600px; position: absolute; top: 0; left: 0}
body #o-carousel-product .carousel-indicators li{display: block;  width: 150px !important;  height: 150px !important;  margin-bottom: 20px !important;}
body #o-carousel-product .carousel-outer{  float: right; width: 85%;}
body #o-carousel-product .carousel-inner div.item {  height: 600px;}

body #o-carousel-product.carousel .carousel-control.left {  left: 20% !important;}
body #o-carousel-product.carousel .carousel-control.right { right: 5% !important;}

.product_detail_img{max-height: inherit;}

/* Products Variants */
#product_details .js_add_cart_variants > li > ul{ margin-left: 0; }
.js_add_cart_variants > li select.js_variant_change {width: auto; min-width: 250px;}
.js_add_cart_variants > li + li{margin-top: 20px;}
.js_add_cart_variants > li > strong{font-weight: 600; color:#323232; margin-bottom: 8px; display: block;}
.js_add_cart_variants li ul{padding: 0; margin: 0;}
.js_add_cart_variants li ul .control-label{margin: 0 !important;}
.badge{background-color: #5cb85c;}

.js_add_cart_variants .css_quantity{margin-bottom: 20px;}
.css_quantity{border: 1px solid #cccccc; max-width: 120px;}
.css_quantity input.js_quantity,
.css_quantity .form-control{border: none; box-shadow: none; border-left: 1px solid #cccccc; border-right: 1px solid #cccccc;}

/* Product Info */
#product_more_info{margin-top: 50px;}
#product_more_info .pd_info{width: 100%;}
#product_full_description{margin-top: 40px !important;}

#product_more_info > .pd_info2 {max-width: 100%; flex: 0 0 100%;}
#product_more_info .pd-more-info .nav-tabs{text-align: center; justify-content:center; border-bottom: none; margin-bottom: 20px;}
#product_more_info .pd-more-info .nav-tabs li{float: none; display: inline-block;     margin: 0 22px;}
#product_more_info .pd-more-info .nav-tabs li a{  border: none;   font-weight: 400;    color: #ababab; font-size: 28px;    padding: 20px 0 18px;}
#product_more_info .pd-more-info .nav-tabs li a.active{color: #333333;}
#product_more_info .pd-more-info .nav-tabs > li > a:hover{background: none;}
#product_more_info .oe_structure .panel-default > .panel-heading{background: #ffffff; color: #323232;}

#product_full_spec + .container{
	margin-top: 50px !important;
	margin-bottom: 50px !important;
}
.pd-more-info .tab-content .collapse{
	display: block;
}

#product_full_spec {margin-bottom: 30px;}

#ad-carousel-product .owl-item > .item {border: 1px solid #e8e8e8;}
#ad-carousel-product .owl-thumbs {display: flex; flex-wrap: wrap; margin-top: 20px;}
#ad-carousel-product .owl-thumbs .owl-thumb-item{flex: 0 0 20%; border: 1px solid #dddddd; padding: 15px; margin-right: 10px; margin-bottom: 10px; background: none;}

/*==================================*/
/* Cart Popup */
/*==================================*/
.oe_optional_products_modal .table-striped {border: 1px solid #e8e8e8;}
.oe_optional_products_modal .table-striped thead {background: #ffffff; color: #323232;}
.oe_optional_products_modal .table-striped thead th{padding: 15px; background: #ffffff;}
.oe_optional_products_modal .table-striped tbody td{padding: 15px; vertical-align: middle;}
.oe_optional_products_modal .table-striped tr:nth-of-type(odd) {background-color: rgba(0, 0, 0, 0.01);}
.oe_optional_products_modal .btn {border-radius: 0;}
.oe_optional_products_modal .table-striped .td-product_name strong {color: #323232;}
.oe_optional_products_modal .table-striped .o_select_options h4{margin-bottom: 0;}
.oe_optional_products_modal .table-striped .td-product_name .float-right {float: none !important;}
.oe_optional_products_modal .table-striped .oe_price {margin-bottom: 10px; font-size: 16px; font-weight: 600; color: #323232;}

body #product_details .oe_optional_products_modal .td-qty .css_quantity,
body .oe_optional_products_modal .td-qty .css_quantity {margin-bottom:0;}

#product_details .modal-content .modal-footer button{border-radius: 0;}
#product_details .modal-content .modal-footer .btn-primary {background: $as-theme; border-color: transparent;}

/*==================================*/
/* Cart Page */
/*==================================*/
.oe_website_sale .oe_cart{width: 100%; margin: 0; padding: 0 30px; margin-bottom: 50px;}
.oe_website_sale .oe_cart .o_website_sale_rightfit{padding-left: 15px; padding-right: 15px;}

body #wrap ul.wizard{margin: 50px auto; border-radius: 0;}
body #wrap ul.wizard li{padding: 0px 30px; border-radius: 0;}
body #wrap ul.wizard li.text-primary{background: #323232 !important; padding: 0px 30px; border-radius: 0;}

table#cart_products .td-product_name > div a{color: #323232; margin-bottom: 8px; display: block;}
table#cart_products .td-product_name .js_delete_product{background: #323232; color: #ffffff; font-size: 13px; padding: 0px 10px; line-height: 24px; display: inline-block; margin-top: 5px;}
table#cart_products .td-product_name .js_delete_product i{padding-right: 2px;}

.btn.btn-default{background: none; border: 1px solid #323232; font-size: 12px; font-weight: 600; color: #323232; padding: 12px 20px;}
.btn.btn-default:hover{background: #323232; border: 1px solid #323232; color: #ffffff;}
.btn.btn-primary,
.btn.btn-secondary{background: $as-theme; border: 1px solid $as-theme; color: #ffffff; font-size: 12px; font-weight: 600; padding: 12px 17px;}

.btn.btn-link{background: none; position: relative; font-size: 11px; font-weight: 600; color: #323232; padding: 0px; line-height: 24px;}
.btn.btn-link:before{content:""; width:100%; height:1px; background: #323232; position: absolute; left:0; bottom:0; -webkit-transition:all 0.3s ease-in-out 0s; -moz-transition:all 0.3s ease-in- out 0s; transition:all 0.3s ease-in-out 0s;}
.btn.btn-link:hover:before{width:25%;}
.btn.btn-link.light-link{color: #ffffff;}
.btn.btn-link.light-link:before{background: #ffffff;}
.btn.btn-link.btn-link-xl{font-size: 20px;}
.btn.btn-link.btn-link-lg{font-size: 16px;}

.btn.btn-default.white{border-color: #ffffff; color: #ffffff;}
.btn.btn-default.white:hover{background: #ffffff; border-color: #ffffff; color: #323232;}

.oe_website_sale .o_website_sale_rightfit .js_cart_lines.row{margin-left: 0; margin-right: 0;}
#cart_total{background: #f5f5f5; padding: 30px;}
#cart_total .text-muted{color: #323232; padding-top: 10px; padding-bottom: 10px; text-transform: uppercase;}
#cart_total #order_total hr{display: none;}
#cart_total #order_total > span{margin-bottom: 0px !important;}
#cart_total .table#cart_products > tbody > tr > td.td-price{padding-right:25px;}
.show_coupon{color: #323232; font-weight: 600;}

.o_website_sale_rightfit .js_cart_lines{color: #323232; font-size: 16px; font-weight: 600; margin-top: 30px;}
.o_website_sale_rightfit table.js_cart_lines{margin-top: 15px;}
.o_website_sale_rightfit table.js_cart_lines .td-product_name .text-muted{color: #969696; font-size: 14px; font-weight: 500; line-height: 20px;}

.o_website_sale_rightfit table.js_cart_lines .btn-link{background: none; border: 1px solid #323232; font-size: 12px; font-weight: 600; color: #323232; padding: 5px 15px;}
.o_website_sale_rightfit table.js_cart_lines .btn-link:hover{background: #323232; border: 1px solid #323232; color: #ffffff;}

.js_cart_lines .td-qty .btn-link {width: 28px; line-height: 44px;}
.js_cart_lines .td-qty .btn-link:before {content: normal;}
.js_cart_lines .td-action {font-size: 20px;}

.oe_cart .btn-secondary,
.oe_cart .btn-primary {border-radius: 0;}

.js_cart_summary {margin-bottom: 50px;}
.js_cart_summary .btn-secondary {background: $as-theme; border-color: transparent; margin-top: 15px; border-radius: 0;}



/*==================================*/
/* Checkout Page */
/*==================================*/
.oe_website_sale .page-header{border-bottom: none;}
.one_kanban .panel-default{border: 1px solid #e8e8e8;}
.one_kanban .js_edit_address{margin-right: 10px; margin-top: 10px; color: #323232;}
.progress-wizard{margin-top: 25px; margin-bottom: 25px; display: inline-block; width: 100%;}

body .progress-wizard .progress-wizard-step.active .progress-wizard-dot{background-color: $as-theme; box-shadow: 0 0 0 0.1875rem white, 0 0 0 0.25rem $as-theme; width: 15px; height: 15px; margin-left: -8px;  margin-top: -8px;}

/*==================================*/
/* Payment Page */
/*==================================*/
.table#cart_products{border: none;}
.table#cart_products > thead{background: none;}
.table#cart_products > thead > tr > th{padding: 15px 0px; color: #323232; font-size: 14px; font-weight: 700; text-align: left}

.table#cart_products > tbody > tr{border-bottom: 1px solid #e8e8e8;}
.table#cart_products > tbody > tr > td{padding: 30px 0px; vertical-align: middle; color: #969696; border: none; text-align: left}
.table#cart_products > tbody > tr > td.td-img{width: 70px;}
.table#cart_products > tbody > tr > td.td-img img{border-radius: 0; width: 70px;}
.table#cart_products > tbody > tr > td.td-product_name > div{color: #323232; font-weight: 500;}
.table#cart_products > tbody > tr > td.td-product_name > div strong{font-weight: inherit;}
.table#cart_products > tbody > tr > td.td-product_name > div span{color: #969696;}
.table#cart_products > tbody > tr > td.td-qty{width: 150px; padding-right: 50px;}
.table#cart_products > tbody > tr > td.td-price{font-weight: 700; color: #323232;}

/*==================================*/
/* Confirmation Page */
/*==================================*/
.oe_website_sale .table.table-condensed > tbody > tr:nth-of-type(odd){background: none;}
.oe_website_sale .table.table-condensed > thead > tr > th{padding: 20px 0px; color: #323232; font-weight: 700;}
.oe_website_sale .table.table-condensed > tbody > tr > td{padding: 15px 0px; vertical-align: middle; color: #969696;}
.oe_website_sale .table.table-condensed > tbody > tr > td.td-product_name > div a{color: #323232; font-weight: 500;}
.oe_website_sale .table.table-condensed > tbody > tr > td.td-product_name > div a strong{font-weight: inherit;}
.oe_website_sale .table.table-condensed > tbody > tr > td.td-product_name > div span{padding-top: 5px; display: inline-block;}
.oe_website_sale .table.table-condensed > tbody > tr > td.td-price, 
.oe_website_sale .table.table-condensed > tbody > tr > td.td-price-total{width: 140px; font-weight: 500; color: #323232;}

.oe_website_sale .table.table-condensed + .table{background: #f5f5f5;}
.oe_website_sale .table.table-condensed + .table > tbody > tr > td{padding: 15px 10px; color: #323232;}

.break-word.panel-info{border-color: #e8e8e8;}
.break-word.panel-info > .panel-heading{background: #323232; color: #ffffff; border-color: #323232; border-radius: 0;}
.break-word address div > div{padding-top: 5px; display: block;}
.break-word address div i{width: 20px; color: #323232;}

/*==================================*/
/* Wishlist Page */
/*==================================*/
.wishlist-section {margin: 60px 0; max-width: inherit;}
.oe_website_sale .td-img {width: 100px;}

.wishlist-section .table-comparator{margin-bottom: 0; border: none;}
.wishlist-section .table-comparator > tbody > tr:nth-of-type(odd),
.wishlist-section .table-comparator > tbody > tr:hover{background: none;}
.wishlist-section .table-comparator > tbody > tr{border-bottom: 1px solid #e8e8e8;}
.wishlist-section .table-comparator > tbody > tr td{border: none; padding: 25px 0; vertical-align: middle; font-weight: 700;
    color: #323232;}
.wishlist-section .table-comparator > tbody > tr:last-child{border-bottom: none;}
.wishlist-section .table-comparator > tbody > tr td.td-img{padding-right: 25px;}
.wishlist-section .table-comparator > tbody > tr td strong a{color: #323232; font-weight: 500;}
.wishlist-section .table-comparator > tbody > tr td .text-muted {color: #969696; margin-bottom: 0; font-weight: 400;}
.wishlist-section .table-comparator > tbody > tr td.td-wish-btn{padding-left: 30px; width: 200px;}
.wishlist-section .table-comparator > tbody > tr td .o_wish_rm{background: #323232; color: #ffffff; font-size: 13px; font-weight: 400; padding: 0px 10px; line-height: 24px; display: inline-block; margin-top: 5px;}
.wishlist-section .table-comparator > tbody > tr td .o_wish_rm i{padding-right: 2px;}

.wishlist-section .td-wish-btn .btn-block{background: none; border: 1px solid #323232; font-size: 12px; font-weight: 600; color: #323232; padding: 12px 20px;}
.wishlist-section .td-wish-btn .btn-block:hover{background: #323232; border: 1px solid #323232; color: #ffffff;}

/*=============================*/
/* Myaccount Page */
/*=============================*/
.o_portal .breadcrumb li{color: #757575;}
.o_portal .breadcrumb li a{color: #323232;}

.dropdown-menu.cart .well-lg{padding: 15px 25px; border-radius: 0; margin-bottom: 5px; background: none; box-shadow: none; border: none; text-align: center;}

.o_portal_my_home .page-header,
#o_my_sidebar .page-header{border-bottom: none;}
.o_portal_my_home .o_portal_docs .list-group-item a{color: #757575;}
.o_portal_my_home .o_portal_docs .list-group-item a:hover{color: #323232;}
.o_portal_my_home .o_portal_docs .list-group-item .badge{background: #323232;}

#o_my_sidebar .page-header .btn.btn-default{padding: 5px 15px; font-size: 11px; float: right;}
#o_my_sidebar .o_portal_my_details address div{padding-bottom: 8px;}

.o_portal_wrap{margin-top: 30px;}
.o_portal_wrap .panel-default{margin-top: 30px;}
.o_portal_wrap .o_portal_search_panel_fixed_width{max-width: 150px; padding: 6px 17px;}

.o_portal_wrap .dropdown.open > .dropdown-menu{min-width: 200px; left: auto; right: 0; border: 1px solid #f5f5f5; padding: 10px 0; -webkit-box-shadow: 0 3px 8px rgba(0,0,0,0.1); -moz-box-shadow: 0 3px 8px rgba(0,0,0,0.1); box-shadow: 0 3px 8px rgba(0,0,0,0.1);}
.o_portal_wrap .dropdown .dropdown-menu li a{font-size: 13px; padding: 5px 20px;}
.o_portal_wrap .dropdown .dropdown-menu li.active a,
.o_portal_wrap .dropdown .dropdown-menu li a:hover{background: none; color: $as-theme;}

.o_portal_wrap table.o_portal_my_doc_table > thead > tr > th{border-bottom: 2px solid rgba(0, 0, 0, 0.08); padding: 15px 20px; font-size: 14px; color: #323232; font-weight: 700; background: none;}
.o_portal_wrap table.o_portal_my_doc_table > tbody > tr{background: none;}
.o_portal_wrap table.o_portal_my_doc_table > tbody > tr > td{color: #757575; padding: 12px 20px;}
.o_portal_wrap table.o_portal_my_doc_table > tbody > tr > td a{color: #757575;}
.o_portal_wrap table.o_portal_my_doc_table > tbody > tr > td a:hover{color: #323232;}


/*----------------------*/
/* Back to Top */
/*----------------------*/
.cd-top{background: #323232; color: #ffffff; width: 60px; height: 40px; display: inline-block; line-height: 40px; text-align: center; position: fixed; right: 30px; bottom:0; z-index: 9;}
.cd-top:hover{background: #323232; color: #ffffff;}


/*==============================================================*/
/* Responsive View */
/*==============================================================*/
$break-ipda: 992px;
$break-ipda-in: 768px;
$break-tablet: 767px;
$break-mobile: 575px;

@media (min-width: $break-ipda){ /* Min Width 992 */
	#products_grid_before.col-lg-3 {flex: 0 0 20%; max-width: 20%;}
	#products_grid.col-lg-9{flex: 0 0 80%; max-width: 80%;}
}

@media (min-width: $break-ipda-in){ /* Min Width 768 */
	.as-latest-blog .carousel{overflow: visible; padding-bottom: 30px;}
	.as-latest-blog .carousel-indicators{bottom: -15px;}
}

@media (max-width: $break-ipda){ /* Max Width 992 */
	.as-product-list li{width: 33.33%;}
	#products_grid_before.col-lg-3 {flex: 0 0 25%; max-width: 25%;}
	#products_grid.col-lg-9{flex: 0 0 75%; max-width: 75%;}
}

@media (max-width: $break-tablet){
	
	.as-product-list li {width: 49.99%;}
	.shop-filter form {width: 50%; margin-bottom: 15px;}
	.shop-filter .view-mode {width: 40%; text-align: right; margin-bottom: 15px;}
	.shop-filter .dropdown {width: 150px; text-align: right; margin-left: 15px; margin-bottom: 15px;}
	.shop-filter .pagination,
	.shop-filter .view-mode{margin-bottom: 15px;}
	.shop-filter .dropdown_sorty_by {display: none;}
	
	#products_grid_before.col-lg-3 {flex: 0 0 100%; max-width: 100%;}
	#products_grid.col-lg-9{flex: 0 0 100%; max-width: 100%;}
	
	/*============================*/
	/* Details Page */
	/*-===========================*/
	#product_detail .product-gallery, 
	#product_detail #product_details {flex: 0 0 100%; max-width: 100%;}
	
	/*============================*/
	/* Cart Page */
	/*-===========================*/
	table#cart_products > tbody > tr > td.td-img{display: block;}
	table#cart_products > tbody > tr > td.td-price{width: 100px;}
	table#cart_products > tbody > tr > td.td-qty .css_quantity .js_add_cart_json{display: table-cell !important;}

	.oe_cart .o_website_sale_rightfit .btn.btn-default{display: block; margin-bottom: 10px !important;}
	.oe_cart .o_website_sale_rightfit .btn.btn-primary{display: block; margin-right: 0px !important; float: none !important;}

	/*============================*/
	/* Wishlist Page */
	/*-===========================*/
	table#o_comparelist_table .td-wish-btn .btn-default{display: inline-block;}
	table#o_comparelist_table .td-wish-btn .btn-default span{display: inline-block !important; width: auto;
    font-size: 11px; padding: 8px 15px;}
}

@media (max-width: $break-mobile){
	.as-product-list li {width: 100%; padding-left: 0; padding-right: 0;}
	.shop-filter form {width: 100%; margin-right: 0;}
	.shop-filter .dropdown {width: 100%; margin-left: 0; float: left;}
	.shop-filter .dropdown .dropdown-toggle {width: 100%;}
	.shop-filter .view-mode {display: none !important;}
}



#multi_tab_product_snippet{ margin-bottom: 60px; }

div#products_grid_before h2 + h2 {
    display: none;
}
div#products_grid_before input#slider_form + h2 {
    display: none;
}
div#products_grid_before input#slider_form ~ input {
    display: none;
}
