@import url('https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700,900');


/*Font*/
$as-font-family:		'Work Sans', sans-serif;
$as-font-family-head:	'Work Sans', sans-serif;
$as-font-size-base:		14px;
$as-font-size:			14px;
$as-font-family-sub:    'Merriweather', serif;

 


$as-theme:				#0a78e4;
$as-white:				#fff;
$as-grey:				#1f1f1f;
$as-light:				#bbb;
$as-light1:				#e7e7e7;
$as-light2:				#f9f9f9;
$as-light3:				#828282;
$as-dark:				#222;
$as-body:				#000;
$as-danger:				#ff0000;
$as-title:				#1f1f1f;


$as-body-bg:			#e7e7e7;
$as-body-color:			#bbb;
$as-footer:				#000;
$as-footer-color:		#222222;
						

/* Fonts */
$as-font-base:			14px;
$as-font-size:			14px;
$as-font-small:			12px;
$as-font-title:			16px;
$as-font-lead:			17px;

$screen-sm-min:			'';						
 



