/******
======= Agency =======
******/
.home-agency .feature-box .feature-icon .icon.round,
.home-agency .feature-box .icon-border,
.home-agency .feature-info-box .feature-icon,
.home-agency .feature-box .feature-icon .icon,
.home-agency .icon-style,
.home-agency .theme-text,
.home-agency .theme-text h1,
.home-agency .theme-text h2,
.home-agency .theme-text h3,
.home-agency .theme-text h4,
.home-agency .theme-text h5,
.home-agency .theme-text h6,
.home-agency .counter-box.icon-border .icon,
.home-agency .counter-box .number,
.home-agency .btn-outline-primary,
.home-agency .process-steps.ps-style-2 .pss-step-number span,
.home-agency .f-link,
.home-agency .team-classic .wrapper .hover-content li a,
.home-agency ul.arrow li::before,
.home-agency .pricing-table.pricing-active .pricing,
.home-agency .pricing-table.pricing-active .plan-name,
.home-agency .pricing-table .pricing-table-body ul li i,
.home-agency .dish-price,
.home-agency .header-icons > div i:hover,
.home-agency .section-title .title-tagline{
  color:#4f6df5;
}

.home-agency .theme-bg,
.home-agency .heading-separator,
.home-agency .btn-primary,
.home-agency .btn-outline-primary:hover,
.home-agency .progress-wrap .progress-bar,
.home-agency .process-steps .pss-item::before,
.home-agency .process-steps .pss-step-number span::before,
.home-agency .process-steps .pss-step-number::before,
.home-agency .tab-style-2 .nav-link.active, .tab-style-2 .show > .nav-link,
.home-agency .testimonail-style3 .testimonail,
.home-agency .testimonail-style2 .carousel-indicators li,
.home-agency .header-main .navbar-nav > li > a:before,
.home-agency .header-icons .my_wish_quantity, .home-agency .header-icons .my_cart_quantity {
  background: #4f6df5;
}

.home-agency .btn-primary,
.home-agency .btn-outline-primary,
.home-agency .process-steps.ps-style-2 .pss-step-number span::before,
.home-agency .tab-style-1 .nav-pills .nav-link.active, .tab-style-1 .nav-pills .show > .nav-link{
  border-color:#4f6df5;
}
.home-agency .tab-style-2 .nav-tabs a.active::after{
  border-left-color: #4f6df5;
}



/******
======= Auto =======
******/
.home-auto .feature-box .feature-icon .icon.round,
.home-auto .feature-box .icon-border,
.home-auto .feature-info-box .feature-icon,
.home-auto .section-left-pad .feature-box.f-small .feature-icon .icon,
.home-auto .icon-style,
.home-auto .theme-text,
.home-auto .theme-text h1,
.home-auto .theme-text h2,
.home-auto .theme-text h3,
.home-auto .theme-text h4,
.home-auto .theme-text h5,
.home-auto .theme-text h6,
.home-auto .counter-box.icon-border .icon,
.home-auto .counter-box .number,
.home-auto .btn-outline-primary,
.home-auto .process-steps.ps-style-2 .pss-step-number span,
.home-auto .f-link,
.home-auto .team-classic .wrapper .hover-content li a,
.home-auto ul.arrow li::before,
.home-auto .pricing-table.pricing-active .pricing,
.home-auto .pricing-table.pricing-active .plan-name,
.home-auto .pricing-table .pricing-table-body ul li i,
.home-auto .dish-price,
.home-auto .header-icons > div i:hover,
.home-auto .section-title .title-tagline{
  color:#e44444;
}

.home-auto .theme-bg,
.home-auto .heading-separator,
.home-auto .btn-primary,
.home-auto .btn-outline-primary:hover,
.home-auto .progress-wrap .progress-bar,
.home-auto .process-steps .pss-item::before,
.home-auto .process-steps .pss-step-number span::before,
.home-auto .process-steps .pss-step-number::before,
.home-auto .tab-style-2 .nav-link.active, .tab-style-2 .show > .nav-link,
.home-auto .testimonail-style3 .testimonail,
.home-auto .testimonail-style2 .carousel-indicators li,
.home-auto .header-main .navbar-nav > li > a:before,
.home-auto .header-icons .my_wish_quantity, .home-auto .header-icons .my_cart_quantity {
  background: #e44444;
}

.home-auto .btn-primary,
.home-auto .btn-outline-primary,
.home-auto .process-steps.ps-style-2 .pss-step-number span::before,
.home-auto .tab-style-1 .nav-pills .nav-link.active, .tab-style-1 .nav-pills .show > .nav-link{
  border-color:#e44444;
}
.home-auto .tab-style-2 .nav-tabs a.active::after{
  border-left-color: #e44444;
}


/******
======= Business =======
******/
.home-business .feature-box .feature-icon .icon.round,
.home-business .feature-box .icon-border,
.home-business .feature-info-box .feature-icon,
.home-business .feature-box .feature-icon .icon,
.home-business .icon-style,
.home-business .theme-text,
.home-business .theme-text h1,
.home-business .theme-text h2,
.home-business .theme-text h3,
.home-business .theme-text h4,
.home-business .theme-text h5,
.home-business .theme-text h6,
.home-business .counter-box.icon-border .icon,
.home-business .counter-box .number,
.home-business .btn-outline-primary,
.home-business .process-steps.ps-style-2 .pss-step-number span,
.home-business .f-link,
.home-business .team-classic .wrapper .hover-content li a,
.home-business ul.arrow li::before,
.home-business .pricing-table.pricing-active .pricing,
.home-business .pricing-table.pricing-active .plan-name,
.home-business .pricing-table .pricing-table-body ul li i,
.home-business .dish-price,
.home-business .header-icons > div i:hover,
.home-business .section-title .title-tagline{
  color:#0026ff;
}

.home-business .theme-bg,
.home-business .heading-separator,
.home-business .btn-primary,
.home-business .btn-outline-primary:hover,
.home-business .progress-wrap .progress-bar,
.home-business .process-steps .pss-item::before,
.home-business .process-steps .pss-step-number span::before,
.home-business .process-steps .pss-step-number::before,
.home-business .tab-style-2 .nav-link.active, .tab-style-2 .show > .nav-link,
.home-business .testimonail-style3 .testimonail,
.home-business .testimonail-style2 .carousel-indicators li,
.home-business .header-main .navbar-nav > li > a:before,
.home-business .header-icons .my_wish_quantity, .home-business .header-icons .my_cart_quantity {
  background: #0026ff;
}

.home-business .btn-primary,
.home-business .btn-outline-primary,
.home-business .process-steps.ps-style-2 .pss-step-number span::before,
.home-business .tab-style-1 .nav-pills .nav-link.active, .tab-style-1 .nav-pills .show > .nav-link{
  border-color:#0026ff;
}
.home-business .tab-style-2 .nav-tabs a.active::after{
  border-left-color: #0026ff;
}



/******
======= Business 2 =======
******/
.home-business-2 .feature-box .feature-icon .icon.round,
.home-business-2 .feature-box .icon-border,
.home-business-2 .feature-info-box .feature-icon,
.home-business-2 .feature-box .feature-icon .icon,
.home-business-2 .icon-style,
.home-business-2 .theme-text,
.home-business-2 .theme-text h1,
.home-business-2 .theme-text h2,
.home-business-2 .theme-text h3,
.home-business-2 .theme-text h4,
.home-business-2 .theme-text h5,
.home-business-2 .theme-text h6,
.home-business-2 .counter-box.icon-border .icon,
.home-business-2 .counter-box .number,
.home-business-2 .btn-outline-primary,
.home-business-2 .process-steps.ps-style-2 .pss-step-number span,
.home-business-2 .f-link,
.home-business-2 .team-classic .wrapper .hover-content li a,
.home-business-2 ul.arrow li::before,
.home-business-2 .pricing-table.pricing-active .pricing,
.home-business-2 .pricing-table.pricing-active .plan-name,
.home-business-2 .pricing-table .pricing-table-body ul li i,
.home-business-2 .dish-price,
.home-business-2 .header-icons > div i:hover,
.home-business-2 .section-title .title-tagline{
  color:#304fe8;
}

.home-business-2 .theme-bg,
.home-business-2 .heading-separator,
.home-business-2 .btn-primary,
.home-business-2 .btn-outline-primary:hover,
.home-business-2 .progress-wrap .progress-bar,
.home-business-2 .process-steps .pss-item::before,
.home-business-2 .process-steps .pss-step-number span::before,
.home-business-2 .process-steps .pss-step-number::before,
.home-business-2 .tab-style-2 .nav-link.active, .tab-style-2 .show > .nav-link,
.home-business-2 .testimonail-style3 .testimonail,
.home-business-2 .testimonail-style2 .carousel-indicators li,
.home-business-2 .header-main .navbar-nav > li > a:before,
.home-business-2 .header-icons .my_wish_quantity, .home-business-2 .header-icons .my_cart_quantity {
  background: #304fe8;
}

.home-business-2 .btn-primary,
.home-business-2 .btn-outline-primary,
.home-business-2 .process-steps.ps-style-2 .pss-step-number span::before,
.home-business-2 .tab-style-1 .nav-pills .nav-link.active, .tab-style-1 .nav-pills .show > .nav-link{
  border-color:#304fe8;
}
.home-business-2 .tab-style-2 .nav-tabs a.active::after{
  border-left-color: #304fe8;
}



/******
======= Cleaning =======
******/
.home-cleaning .feature-box .feature-icon .icon.round,
.home-cleaning .feature-box .icon-border,
.home-cleaning .feature-info-box .feature-icon,
.home-cleaning .feature-box.with-bg .feature-icon .icon,
.home-cleaning .icon-style,
.home-cleaning .theme-text,
.home-cleaning .theme-text h1,
.home-cleaning .theme-text h2,
.home-cleaning .theme-text h3,
.home-cleaning .theme-text h4,
.home-cleaning .theme-text h5,
.home-cleaning .theme-text h6,
.home-cleaning .counter-box.icon-border .icon,
.home-cleaning .counter-box .number,
.home-cleaning .btn-outline-primary,
.home-cleaning .process-steps.ps-style-2 .pss-step-number span,
.home-cleaning .f-link,
.home-cleaning .team-classic .wrapper .hover-content li a,
.home-cleaning ul.arrow li::before,
.home-cleaning .pricing-table.pricing-active .pricing,
.home-cleaning .pricing-table.pricing-active .plan-name,
.home-cleaning .pricing-table .pricing-table-body ul li i,
.home-cleaning .dish-price,
.home-cleaning .header-icons > div i:hover,
.home-cleaning .section-title .title-tagline{
  color:#08aa41;
}

.home-cleaning .theme-bg,
.home-cleaning .heading-separator,
.home-cleaning .btn-primary,
.home-cleaning .btn-outline-primary:hover,
.home-cleaning .progress-wrap .progress-bar,
.home-cleaning .process-steps .pss-item::before,
.home-cleaning .process-steps .pss-step-number span::before,
.home-cleaning .process-steps .pss-step-number::before,
.home-cleaning .tab-style-2 .nav-link.active, .tab-style-2 .show > .nav-link,
.home-cleaning .testimonail-style3 .testimonail,
.home-cleaning .testimonail-style2 .carousel-indicators li,
.home-cleaning .header-main .navbar-nav > li > a:before,
.home-cleaning .header-icons .my_wish_quantity, .home-cleaning .header-icons .my_cart_quantity {
  background: #08aa41;
}

.home-cleaning .btn-primary,
.home-cleaning .btn-outline-primary,
.home-cleaning .process-steps.ps-style-2 .pss-step-number span::before,
.home-cleaning .tab-style-1 .nav-pills .nav-link.active, .tab-style-1 .nav-pills .show > .nav-link{
  border-color:#08aa41;
}
.home-cleaning .tab-style-2 .nav-tabs a.active::after{
  border-left-color: #08aa41;
}



/******
======= Construction =======
******/
.home-construction .feature-box .feature-icon .icon.round,
.home-construction .feature-box .icon-border,
.home-construction .feature-info-box .feature-icon,
.home-construction .feature-box .feature-icon .icon,
.home-construction .icon-style,
.home-construction .theme-text,
.home-construction .theme-text h1,
.home-construction .theme-text h2,
.home-construction .theme-text h3,
.home-construction .theme-text h4,
.home-construction .theme-text h5,
.home-construction .theme-text h6,
.home-construction .counter-box.icon-border .icon,
.home-construction .counter-box .number,
.home-construction .btn-outline-primary,
.home-construction .process-steps.ps-style-2 .pss-step-number span,
.home-construction .f-link,
.home-construction .team-classic .wrapper .hover-content li a,
.home-construction ul.arrow li::before,
.home-construction .pricing-table.pricing-active .pricing,
.home-construction .pricing-table.pricing-active .plan-name,
.home-construction .pricing-table .pricing-table-body ul li i,
.home-construction .dish-price,
.home-construction .header-icons > div i:hover,
.home-construction .section-title .title-tagline{
  color:#ffc91a;
}

.home-construction .theme-bg,
.home-construction .heading-separator,
.home-construction .btn-primary,
.home-construction .btn-outline-primary:hover,
.home-construction .progress-wrap .progress-bar,
.home-construction .process-steps .pss-item::before,
.home-construction .process-steps .pss-step-number span::before,
.home-construction .process-steps .pss-step-number::before,
.home-construction .tab-style-2 .nav-link.active, .tab-style-2 .show > .nav-link,
.home-construction .testimonail-style3 .testimonail,
.home-construction .testimonail-style2 .carousel-indicators li,
.home-construction .header-main .navbar-nav > li > a:before,
.home-construction .header-icons .my_wish_quantity, .home-construction .header-icons .my_cart_quantity {
  background: #ffc91a;
}

.home-construction .btn-primary,
.home-construction .btn-outline-primary,
.home-construction .process-steps.ps-style-2 .pss-step-number span::before,
.home-construction .tab-style-1 .nav-pills .nav-link.active, .tab-style-1 .nav-pills .show > .nav-link{
  border-color:#ffc91a;
}
.home-construction .tab-style-2 .nav-tabs a.active::after{
  border-left-color: #ffc91a;
}



/******
======= Education =======
******/
.home-education .feature-box .feature-icon .icon.round,
.home-education .feature-box .icon-border,
.home-education .feature-info-box .feature-icon,
.home-education .feature-box .feature-icon .icon,
.home-education .icon-style,
.home-education .theme-text,
.home-education .theme-text h1,
.home-education .theme-text h2,
.home-education .theme-text h3,
.home-education .theme-text h4,
.home-education .theme-text h5,
.home-education .theme-text h6,
.home-education .counter-box.icon-border .icon,
.home-education .counter-box .number,
.home-education .btn-outline-primary,
.home-education .process-steps.ps-style-2 .pss-step-number span,
.home-education .f-link,
.home-education .team-classic .wrapper .hover-content li a,
.home-education ul.arrow li::before,
.home-education .pricing-table.pricing-active .pricing,
.home-education .pricing-table.pricing-active .plan-name,
.home-education .pricing-table .pricing-table-body ul li i,
.home-education .dish-price,
.home-education .header-icons > div i:hover,
.home-education .section-title .title-tagline{
  color:#fdc800;
}

.home-education .theme-bg,
.home-education .heading-separator,
.home-education .btn-primary,
.home-education .btn-outline-primary:hover,
.home-education .progress-wrap .progress-bar,
.home-education .process-steps .pss-item::before,
.home-education .process-steps .pss-step-number span::before,
.home-education .process-steps .pss-step-number::before,
.home-education .tab-style-2 .nav-link.active, .tab-style-2 .show > .nav-link,
.home-education .testimonail-style3 .testimonail,
.home-education .testimonail-style2 .carousel-indicators li,
.home-education .header-main .navbar-nav > li > a:before,
.home-education .header-icons .my_wish_quantity, .home-education .header-icons .my_cart_quantity {
  background: #fdc800;
}

.home-education .btn-primary,
.home-education .btn-outline-primary,
.home-education .process-steps.ps-style-2 .pss-step-number span::before,
.home-education .tab-style-1 .nav-pills .nav-link.active, .tab-style-1 .nav-pills .show > .nav-link{
  border-color:#fdc800;
}
.home-education .tab-style-2 .nav-tabs a.active::after{
  border-left-color: #fdc800;
}



/******
======= Elder Care =======
******/
.home-elder-care .feature-box .feature-icon .icon.round,
.home-elder-care .feature-box .icon-border,
.home-elder-care .feature-info-box .feature-icon,
.home-elder-care .feature-box .feature-icon .icon,
.home-elder-care .icon-style,
.home-elder-care .theme-text,
.home-elder-care .theme-text h1,
.home-elder-care .theme-text h2,
.home-elder-care .theme-text h3,
.home-elder-care .theme-text h4,
.home-elder-care .theme-text h5,
.home-elder-care .theme-text h6,
.home-elder-care .counter-box.icon-border .icon,
.home-elder-care .counter-box .number,
.home-elder-care .btn-outline-primary,
.home-elder-care .process-steps.ps-style-2 .pss-step-number span,
.home-elder-care .f-link,
.home-elder-care .team-classic .wrapper .hover-content li a,
.home-elder-care ul.arrow li::before,
.home-elder-care .pricing-table.pricing-active .pricing,
.home-elder-care .pricing-table.pricing-active .plan-name,
.home-elder-care .pricing-table .pricing-table-body ul li i,
.home-elder-care .dish-price,
.home-elder-care .header-icons > div i:hover,
.home-elder-care .section-title .title-tagline{
  color:#e7a88d;
}

.home-elder-care .theme-bg,
.home-elder-care .heading-separator,
.home-elder-care .btn-primary,
.home-elder-care .btn-outline-primary:hover,
.home-elder-care .progress-wrap .progress-bar,
.home-elder-care .process-steps .pss-item::before,
.home-elder-care .process-steps .pss-step-number span::before,
.home-elder-care .process-steps .pss-step-number::before,
.home-elder-care .tab-style-2 .nav-link.active, .tab-style-2 .show > .nav-link,
.home-elder-care .testimonail-style3 .testimonail,
.home-elder-care .testimonail-style2 .carousel-indicators li,
.home-elder-care .header-main .navbar-nav > li > a:before,
.home-elder-care .header-icons .my_wish_quantity, .home-elder-care .header-icons .my_cart_quantity {
  background: #e7a88d;
}

.home-elder-care .btn-primary,
.home-elder-care .btn-outline-primary,
.home-elder-care .process-steps.ps-style-2 .pss-step-number span::before,
.home-elder-care .tab-style-1 .nav-pills .nav-link.active, .tab-style-1 .nav-pills .show > .nav-link{
  border-color:#e7a88d;
}
.home-elder-care .tab-style-2 .nav-tabs a.active::after{
  border-left-color: #e7a88d;
}



/******
======= Finance =======
******/
.home-finance .feature-box .feature-icon .icon.round,
.home-finance .feature-box .icon-border,
.home-finance .feature-info-box .feature-icon,
.home-finance .feature-box .feature-icon .icon,
.home-finance .icon-style,
.home-finance .theme-text,
.home-finance .theme-text h1,
.home-finance .theme-text h2,
.home-finance .theme-text h3,
.home-finance .theme-text h4,
.home-finance .theme-text h5,
.home-finance .theme-text h6,
.home-finance .counter-box.icon-border .icon,
.home-finance .counter-box .number,
.home-finance .btn-outline-primary,
.home-finance .process-steps.ps-style-2 .pss-step-number span,
.home-finance .f-link,
.home-finance .team-classic .wrapper .hover-content li a,
.home-finance ul.arrow li::before,
.home-finance .pricing-table.pricing-active .pricing,
.home-finance .pricing-table.pricing-active .plan-name,
.home-finance .pricing-table .pricing-table-body ul li i,
.home-finance .dish-price,
.home-finance .header-icons > div i:hover,
.home-finance .section-title .title-tagline{
  color:#3055e8;
}

.home-finance .theme-bg,
.home-finance .heading-separator,
.home-finance .btn-primary,
.home-finance .btn-outline-primary:hover,
.home-finance .progress-wrap .progress-bar,
.home-finance .process-steps .pss-item::before,
.home-finance .process-steps .pss-step-number span::before,
.home-finance .process-steps .pss-step-number::before,
.home-finance .tab-style-2 .nav-link.active, .tab-style-2 .show > .nav-link,
.home-finance .testimonail-style3 .testimonail,
.home-finance .testimonail-style2 .carousel-indicators li,
.home-finance .header-main .navbar-nav > li > a:before,
.home-finance .header-icons .my_wish_quantity, .home-finance .header-icons .my_cart_quantity {
  background: #3055e8;
}

.home-finance .btn-primary,
.home-finance .btn-outline-primary,
.home-finance .process-steps.ps-style-2 .pss-step-number span::before,
.home-finance .tab-style-1 .nav-pills .nav-link.active, .tab-style-1 .nav-pills .show > .nav-link{
  border-color:#3055e8;
}
.home-finance .tab-style-2 .nav-tabs a.active::after{
  border-left-color: #3055e8;
}



/******
======= Gardener =======
******/
.home-gardener .feature-box .feature-icon .icon.round,
.home-gardener .feature-box .icon-border,
.home-gardener .feature-info-box .feature-icon,
.home-gardener .feature-box .feature-icon .icon,
.home-gardener .icon-style,
.home-gardener .theme-text,
.home-gardener .theme-text h1,
.home-gardener .theme-text h2,
.home-gardener .theme-text h3,
.home-gardener .theme-text h4,
.home-gardener .theme-text h5,
.home-gardener .theme-text h6,
.home-gardener .counter-box.icon-border .icon,
.home-gardener .counter-box .number,
.home-gardener .btn-outline-primary,
.home-gardener .process-steps.ps-style-2 .pss-step-number span,
.home-gardener .f-link,
.home-gardener .team-classic .wrapper .hover-content li a,
.home-gardener ul.arrow li::before,
.home-gardener .pricing-table.pricing-active .pricing,
.home-gardener .pricing-table.pricing-active .plan-name,
.home-gardener .pricing-table .pricing-table-body ul li i,
.home-gardener .dish-price,
.home-gardener .header-icons > div i:hover,
.home-gardener .section-title .title-tagline{
  color:#74b814;
}

.home-gardener .theme-bg,
.home-gardener .heading-separator,
.home-gardener .btn-primary,
.home-gardener .btn-outline-primary:hover,
.home-gardener .progress-wrap .progress-bar,
.home-gardener .process-steps .pss-item::before,
.home-gardener .process-steps .pss-step-number span::before,
.home-gardener .process-steps .pss-step-number::before,
.home-gardener .tab-style-2 .nav-link.active, .tab-style-2 .show > .nav-link,
.home-gardener .testimonail-style3 .testimonail,
.home-gardener .testimonail-style2 .carousel-indicators li,
.home-gardener .header-main .navbar-nav > li > a:before,
.home-gardener .header-icons .my_wish_quantity, .home-gardener .header-icons .my_cart_quantity {
  background: #74b814;
}

.home-gardener .btn-primary,
.home-gardener .btn-outline-primary,
.home-gardener .process-steps.ps-style-2 .pss-step-number span::before,
.home-gardener .tab-style-1 .nav-pills .nav-link.active, .tab-style-1 .nav-pills .show > .nav-link{
  border-color:#74b814;
}
.home-gardener .tab-style-2 .nav-tabs a.active::after{
  border-left-color: #74b814;
}



/******
======= Gym =======
******/
.home-gym .feature-box .feature-icon .icon.round,
.home-gym .feature-box .icon-border,
.home-gym .feature-info-box .feature-icon,
.home-gym .feature-box .feature-icon .icon,
.home-gym .icon-style,
.home-gym .theme-text,
.home-gym .theme-text h1,
.home-gym .theme-text h2,
.home-gym .theme-text h3,
.home-gym .theme-text h4,
.home-gym .theme-text h5,
.home-gym .theme-text h6,
.home-gym .counter-box.icon-border .icon,
.home-gym .counter-box .number,
.home-gym .btn-outline-primary,
.home-gym .process-steps.ps-style-2 .pss-step-number span,
.home-gym .f-link,
.home-gym .team-classic .wrapper .hover-content li a,
.home-gym ul.arrow li::before,
.home-gym .pricing-table.pricing-active .pricing,
.home-gym .pricing-table.pricing-active .plan-name,
.home-gym .pricing-table .pricing-table-body ul li i,
.home-gym .dish-price,
.home-gym .header-icons > div i:hover,
.home-gym .section-title .title-tagline{
  color:#fa7c31;
}

.home-gym .theme-bg,
.home-gym .heading-separator,
.home-gym .btn-primary,
.home-gym .btn-outline-primary:hover,
.home-gym .progress-wrap .progress-bar,
.home-gym .process-steps .pss-item::before,
.home-gym .process-steps .pss-step-number span::before,
.home-gym .process-steps .pss-step-number::before,
.home-gym .tab-style-2 .nav-link.active, .tab-style-2 .show > .nav-link,
.home-gym .testimonail-style3 .testimonail,
.home-gym .testimonail-style2 .carousel-indicators li,
.home-gym .header-main .navbar-nav > li > a:before,
.home-gym .header-icons .my_wish_quantity, .home-gym .header-icons .my_cart_quantity {
  background: #fa7c31;
}

.home-gym .btn-primary,
.home-gym .btn-outline-primary,
.home-gym .process-steps.ps-style-2 .pss-step-number span::before,
.home-gym .tab-style-1 .nav-pills .nav-link.active, .tab-style-1 .nav-pills .show > .nav-link{
  border-color:#fa7c31;
}
.home-gym .tab-style-2 .nav-tabs a.active::after{
  border-left-color: #fa7c31;
}



/******
======= Industrial =======
******/
.home-industrial .feature-box .feature-icon .icon.round,
.home-industrial .feature-box .icon-border,
.home-industrial .feature-info-box .feature-icon,
.home-industrial .feature-box .feature-icon .icon,
.home-industrial .icon-style,
.home-industrial .theme-text,
.home-industrial .theme-text h1,
.home-industrial .theme-text h2,
.home-industrial .theme-text h3,
.home-industrial .theme-text h4,
.home-industrial .theme-text h5,
.home-industrial .theme-text h6,
.home-industrial .counter-box.icon-border .icon,
.home-industrial .counter-box .number,
.home-industrial .btn-outline-primary,
.home-industrial .process-steps.ps-style-2 .pss-step-number span,
.home-industrial .f-link,
.home-industrial .team-classic .wrapper .hover-content li a,
.home-industrial ul.arrow li::before,
.home-industrial .pricing-table.pricing-active .pricing,
.home-industrial .pricing-table.pricing-active .plan-name,
.home-industrial .pricing-table .pricing-table-body ul li i,
.home-industrial .dish-price,
.home-industrial .header-icons > div i:hover,
.home-industrial .section-title .title-tagline{
  color:#FE5A0E;
}

.home-industrial .theme-bg,
.home-industrial .heading-separator,
.home-industrial .btn-primary,
.home-industrial .btn-outline-primary:hover,
.home-industrial .progress-wrap .progress-bar,
.home-industrial .process-steps .pss-item::before,
.home-industrial .process-steps .pss-step-number span::before,
.home-industrial .process-steps .pss-step-number::before,
.home-industrial .tab-style-2 .nav-link.active, .tab-style-2 .show > .nav-link,
.home-industrial .testimonail-style3 .testimonail,
.home-industrial .testimonail-style2 .carousel-indicators li,
.home-industrial .header-main .navbar-nav > li > a:before,
.home-industrial .header-icons .my_wish_quantity, .home-industrial .header-icons .my_cart_quantity {
  background: #FE5A0E;
}

.home-industrial .btn-primary,
.home-industrial .btn-outline-primary,
.home-industrial .process-steps.ps-style-2 .pss-step-number span::before,
.home-industrial .process-steps.ps-style-2 ul li .pss-container:before,
.home-industrial .tab-style-1 .nav-pills .nav-link.active, .tab-style-1 .nav-pills .show > .nav-link{
  border-color:#FE5A0E;
}
.home-industrial .tab-style-2 .nav-tabs a.active::after{
  border-left-color: #FE5A0E;
}


/******
======= Law =======
******/
.home-law .feature-box .feature-icon .icon.round,
.home-law .feature-box .icon-border,
.home-law .feature-info-box .feature-icon,
.home-law .feature-box .feature-icon .icon,
.home-law .icon-style,
.home-law .theme-text,
.home-law .theme-text h1,
.home-law .theme-text h2,
.home-law .theme-text h3,
.home-law .theme-text h4,
.home-law .theme-text h5,
.home-law .theme-text h6,
.home-law .counter-box.icon-border .icon,
.home-law .counter-box .number,
.home-law .btn-outline-primary,
.home-law .process-steps.ps-style-2 .pss-step-number span,
.home-law .f-link,
.home-law .team-classic .wrapper .hover-content li a,
.home-law ul.arrow li::before,
.home-law .pricing-table.pricing-active .pricing,
.home-law .pricing-table.pricing-active .plan-name,
.home-law .pricing-table .pricing-table-body ul li i,
.home-law .dish-price,
.home-law .header-icons > div i:hover,
.home-law .section-title .title-tagline{
  color:#b8a87a;
}

.home-law .theme-bg,
.home-law .heading-separator,
.home-law .btn-primary,
.home-law .btn-outline-primary:hover,
.home-law .progress-wrap .progress-bar,
.home-law .process-steps .pss-item::before,
.home-law .process-steps .pss-step-number span::before,
.home-law .process-steps .pss-step-number::before,
.home-law .tab-style-2 .nav-link.active, .tab-style-2 .show > .nav-link,
.home-law .testimonail-style3 .testimonail,
.home-law .testimonail-style2 .carousel-indicators li,
.home-law .header-main .navbar-nav > li > a:before,
.home-law .header-icons .my_wish_quantity, .home-law .header-icons .my_cart_quantity {
  background: #b8a87a;
}

.home-law .btn-primary,
.home-law .btn-outline-primary,
.home-law .process-steps.ps-style-2 .pss-step-number span::before,
.home-law .tab-style-1 .nav-pills .nav-link.active, .tab-style-1 .nav-pills .show > .nav-link{
  border-color:#b8a87a;
}
.home-law .tab-style-2 .nav-tabs a.active::after{
  border-left-color: #b8a87a;
}


/******
======= Medical =======
******/
.home-medical .feature-box .feature-icon .icon.round,
.home-medical .feature-box .icon-border,
.home-medical .feature-info-box .feature-icon,
.home-medical .feature-box.with-border .feature-icon .icon,
.home-medical .icon-style,
.home-medical .theme-text,
.home-medical .theme-text h1,
.home-medical .theme-text h2,
.home-medical .theme-text h3,
.home-medical .theme-text h4,
.home-medical .theme-text h5,
.home-medical .theme-text h6,
.home-medical .counter-box.icon-border .icon,
.home-medical .counter-box .number,
.home-medical .btn-outline-primary,
.home-medical .process-steps.ps-style-2 .pss-step-number span,
.home-medical .f-link,
.home-medical .team-classic .wrapper .hover-content li a,
.home-medical ul.arrow li::before,
.home-medical .pricing-table.pricing-active .pricing,
.home-medical .pricing-table.pricing-active .plan-name,
.home-medical .pricing-table .pricing-table-body ul li i,
.home-medical .dish-price,
.home-medical .header-icons > div i:hover,
.home-medical .section-title .title-tagline{
  color:#1db5c9;
}

.home-medical .theme-bg,
.home-medical .heading-separator,
.home-medical .btn-primary,
.home-medical .btn-outline-primary:hover,
.home-medical .progress-wrap .progress-bar,
.home-medical .process-steps .pss-item::before,
.home-medical .process-steps .pss-step-number span::before,
.home-medical .process-steps .pss-step-number::before,
.home-medical .tab-style-2 .nav-link.active, .tab-style-2 .show > .nav-link,
.home-medical .testimonail-style3 .testimonail,
.home-medical .testimonail-style2 .carousel-indicators li,
.home-medical .header-main .navbar-nav > li > a:before,
.home-medical .header-icons .my_wish_quantity, .home-medical .header-icons .my_cart_quantity {
  background: #1db5c9;
}

.home-medical .btn-primary,
.home-medical .btn-outline-primary,
.home-medical .process-steps.ps-style-2 .pss-step-number span::before,
.home-medical .tab-style-1 .nav-pills .nav-link.active, .tab-style-1 .nav-pills .show > .nav-link{
  border-color:#1db5c9;
}
.home-medical .tab-style-2 .nav-tabs a.active::after{
  border-left-color: #1db5c9;
}



/******
======= Moving =======
******/
.home-moving .feature-box .feature-icon .icon.round,
.home-moving .feature-box .icon-border,
.home-moving .feature-info-box .feature-icon,
.home-moving .feature-box.d-flex .feature-icon .icon,
.home-moving .feature-box.dark-bg .feature-icon .icon,
.home-moving .feature-box.grey-bg .feature-icon .icon,
.home-moving .icon-style,
.home-moving .theme-text,
.home-moving .theme-text h1,
.home-moving .theme-text h2,
.home-moving .theme-text h3,
.home-moving .theme-text h4,
.home-moving .theme-text h5,
.home-moving .theme-text h6,
.home-moving .counter-box.icon-border .icon,
.home-moving .counter-box .number,
.home-moving .btn-outline-primary,
.home-moving .process-steps.ps-style-2 .pss-step-number span,
.home-moving .feature-box.dark-bg .f-link,
.home-moving .feature-box.grey-bg .f-link,
.home-moving .team-classic .wrapper .hover-content li a,
.home-moving ul.arrow li::before,
.home-moving .pricing-table.pricing-active .pricing,
.home-moving .pricing-table.pricing-active .plan-name,
.home-moving .pricing-table .pricing-table-body ul li i,
.home-moving .dish-price,
.home-moving .header-icons > div i:hover,
.home-moving .section-title .title-tagline{
  color:#d92626;
}

.home-moving .theme-bg,
.home-moving .heading-separator,
.home-moving .btn-primary,
.home-moving .btn-outline-primary:hover,
.home-moving .progress-wrap .progress-bar,
.home-moving .process-steps .pss-item::before,
.home-moving .process-steps .pss-step-number span::before,
.home-moving .process-steps .pss-step-number::before,
.home-moving .tab-style-2 .nav-link.active, .tab-style-2 .show > .nav-link,
.home-moving .testimonail-style3 .testimonail,
.home-moving .testimonail-style2 .carousel-indicators li,
.home-moving .header-main .navbar-nav > li > a:before,
.home-moving .header-icons .my_wish_quantity, .home-moving .header-icons .my_cart_quantity {
  background: #d92626;
}

.home-moving .btn-primary,
.home-moving .btn-outline-primary,
.home-moving .process-steps.ps-style-2 .pss-step-number span::before,
.home-moving .process-steps.ps-style-2 ul li .pss-container:before,
.home-moving .tab-style-1 .nav-pills .nav-link.active, .tab-style-1 .nav-pills .show > .nav-link{
  border-color:#d92626;
}
.home-moving .tab-style-2 .nav-tabs a.active::after{
  border-left-color: #d92626;
}


/******
======= Restaurant =======
******/
.home-restaurant .feature-box .feature-icon .icon.round,
.home-restaurant .feature-box .icon-border,
.home-restaurant .feature-info-box .feature-icon,
.home-restaurant .feature-box .feature-icon .icon,
.home-restaurant .icon-style,
.home-restaurant .theme-text,
.home-restaurant .theme-text h1,
.home-restaurant .theme-text h2,
.home-restaurant .theme-text h3,
.home-restaurant .theme-text h4,
.home-restaurant .theme-text h5,
.home-restaurant .theme-text h6,
.home-restaurant .counter-box.icon-border .icon,
.home-restaurant .counter-box .number,
.home-restaurant .btn-outline-primary,
.home-restaurant .process-steps.ps-style-2 .pss-step-number span,
.home-restaurant .f-link,
.home-restaurant .team-classic .wrapper .hover-content li a,
.home-restaurant ul.arrow li::before,
.home-restaurant .pricing-table.pricing-active .pricing,
.home-restaurant .pricing-table.pricing-active .plan-name,
.home-restaurant .pricing-table .pricing-table-body ul li i,
.home-restaurant .dish-price,
.home-restaurant .header-icons > div i:hover,
.home-restaurant .section-title .title-tagline{
  color:#ff7f00;
}

.home-restaurant .theme-bg,
.home-restaurant .heading-separator,
.home-restaurant .btn-primary,
.home-restaurant .btn-outline-primary:hover,
.home-restaurant .progress-wrap .progress-bar,
.home-restaurant .process-steps .pss-item::before,
.home-restaurant .process-steps .pss-step-number span::before,
.home-restaurant .process-steps .pss-step-number::before,
.home-restaurant .tab-style-2 .nav-link.active, .tab-style-2 .show > .nav-link,
.home-restaurant .testimonail-style3 .testimonail,
.home-restaurant .testimonail-style2 .carousel-indicators li,
.home-restaurant .header-main .navbar-nav > li > a:before,
.home-restaurant .header-icons .my_wish_quantity, .home-restaurant .header-icons .my_cart_quantity {
  background: #ff7f00;
}

.home-restaurant .btn-primary,
.home-restaurant .btn-outline-primary,
.home-restaurant .process-steps.ps-style-2 .pss-step-number span::before,
.home-restaurant .tab-style-1 .nav-pills .nav-link.active, .tab-style-1 .nav-pills .show > .nav-link{
  border-color:#ff7f00;
}
.home-restaurant .tab-style-2 .nav-tabs a.active::after{
  border-left-color: #ff7f00;
}


/******
======= Solar =======
******/
.home-solar .feature-box .feature-icon .icon.round,
.home-solar .feature-box .icon-border,
.home-solar .feature-info-box .feature-icon,
.home-solar .feature-box .feature-icon .icon,
.home-solar .icon-style,
.home-solar .theme-text,
.home-solar .theme-text h1,
.home-solar .theme-text h2,
.home-solar .theme-text h3,
.home-solar .theme-text h4,
.home-solar .theme-text h5,
.home-solar .theme-text h6,
.home-solar .counter-box.icon-border .icon,
.home-solar .counter-box .number,
.home-solar .btn-outline-primary,
.home-solar .process-steps.ps-style-2 .pss-step-number span,
.home-solar .f-link,
.home-solar .team-classic .wrapper .hover-content li a,
.home-solar ul.arrow li::before,
.home-solar .pricing-table.pricing-active .pricing,
.home-solar .pricing-table.pricing-active .plan-name,
.home-solar .pricing-table .pricing-table-body ul li i,
.home-solar .dish-price,
.home-solar .header-icons > div i:hover,
.home-solar .section-title .title-tagline{
  color:#85c700;
}

.home-solar .theme-bg,
.home-solar .heading-separator,
.home-solar .btn-primary,
.home-solar .btn-outline-primary:hover,
.home-solar .progress-wrap .progress-bar,
.home-solar .process-steps .pss-item::before,
.home-solar .process-steps .pss-step-number span::before,
.home-solar .process-steps .pss-step-number::before,
.home-solar .tab-style-2 .nav-link.active, .tab-style-2 .show > .nav-link,
.home-solar .testimonail-style3 .testimonail,
.home-solar .testimonail-style2 .carousel-indicators li,
.home-solar .header-main .navbar-nav > li > a:before,
.home-solar .header-icons .my_wish_quantity, .home-solar .header-icons .my_cart_quantity {
  background: #85c700;
}

.home-solar .btn-primary,
.home-solar .btn-outline-primary,
.home-solar .process-steps.ps-style-2 .pss-step-number span::before,
.home-solar .tab-style-1 .nav-pills .nav-link.active, .tab-style-1 .nav-pills .show > .nav-link{
  border-color:#85c700;
}
.home-solar .tab-style-2 .nav-tabs a.active::after{
  border-left-color: #85c700;
}


/******
======= Transport =======
******/
.home-transport .feature-box .feature-icon .icon.round,
.home-transport .feature-box .icon-border,
.home-transport .feature-info-box .feature-icon,
.home-transport .feature-box .feature-icon .icon,
.home-transport .icon-style,
.home-transport .theme-text,
.home-transport .theme-text h1,
.home-transport .theme-text h2,
.home-transport .theme-text h3,
.home-transport .theme-text h4,
.home-transport .theme-text h5,
.home-transport .theme-text h6,
.home-transport .counter-box.icon-border .icon,
.home-transport .counter-box .number,
.home-transport .btn-outline-primary,
.home-transport .process-steps.ps-style-2 .pss-step-number span,
.home-transport .f-link,
.home-transport .team-classic .wrapper .hover-content li a,
.home-transport ul.arrow li::before,
.home-transport .pricing-table.pricing-active .pricing,
.home-transport .pricing-table.pricing-active .plan-name,
.home-transport .pricing-table .pricing-table-body ul li i,
.home-transport .dish-price,
.home-transport .header-icons > div i:hover,
.home-transport .section-title .title-tagline{
  color:#0a66c2;
}

.home-transport .theme-bg,
.home-transport .heading-separator,
.home-transport .btn-primary,
.home-transport .btn-outline-primary:hover,
.home-transport .progress-wrap .progress-bar,
.home-transport .process-steps .pss-item::before,
.home-transport .process-steps .pss-step-number span::before,
.home-transport .process-steps .pss-step-number::before,
.home-transport .tab-style-2 .nav-link.active, .tab-style-2 .show > .nav-link,
.home-transport .testimonail-style3 .testimonail,
.home-transport .testimonail-style2 .carousel-indicators li,
.home-transport .header-main .navbar-nav > li > a:before,
.home-transport .header-icons .my_wish_quantity, .home-transport .header-icons .my_cart_quantity {
  background: #0a66c2;
}

.home-transport .btn-primary,
.home-transport .btn-outline-primary,
.home-transport .process-steps.ps-style-2 .pss-step-number span::before,
.home-transport .tab-style-1 .nav-pills .nav-link.active, .tab-style-1 .nav-pills .show > .nav-link{
  border-color:#0a66c2;
}
.home-transport .tab-style-2 .nav-tabs a.active::after{
  border-left-color: #0a66c2;
}


/******
======= Shop-01 =======
******/
.home-shop-01 .feature-box .feature-icon .icon.round,
.home-shop-01 .feature-box .icon-border,
.home-shop-01 .feature-info-box .feature-icon,
.home-shop-01 .feature-box .feature-icon .icon,
.home-shop-01 .icon-style,
.home-shop-01 .theme-text,
.home-shop-01 .theme-text h1,
.home-shop-01 .theme-text h2,
.home-shop-01 .theme-text h3,
.home-shop-01 .theme-text h4,
.home-shop-01 .theme-text h5,
.home-shop-01 .theme-text h6,
.home-shop-01 .counter-box.icon-border .icon,
.home-shop-01 .counter-box .number,
.home-shop-01 .btn-outline-primary,
.home-shop-01 .process-steps.ps-style-2 .pss-step-number span,
.home-shop-01 .f-link,
.home-shop-01 .team-classic .wrapper .hover-content li a,
.home-shop-01 ul.arrow li::before,
.home-shop-01 .pricing-table.pricing-active .pricing,
.home-shop-01 .pricing-table.pricing-active .plan-name,
.home-shop-01 .pricing-table .pricing-table-body ul li i,
.home-shop-01 .dish-price,
.home-shop-01 .header-icons > div i:hover,
.home-shop-01 .section-title .title-tagline{
  color:#25b15f;
}

.home-shop-01 .theme-bg,
.home-shop-01 .heading-separator,
.home-shop-01 .btn-primary,
.home-shop-01 .btn-outline-primary:hover,
.home-shop-01 .progress-wrap .progress-bar,
.home-shop-01 .process-steps .pss-item::before,
.home-shop-01 .process-steps .pss-step-number span::before,
.home-shop-01 .process-steps .pss-step-number::before,
.home-shop-01 .tab-style-2 .nav-link.active, .tab-style-2 .show > .nav-link,
.home-shop-01 .testimonail-style3 .testimonail,
.home-shop-01 .testimonail-style2 .carousel-indicators li,
.home-shop-01 .header-main .navbar-nav > li > a:before,
.home-shop-01 .header-icons .my_wish_quantity, .home-shop-01 .header-icons .my_cart_quantity {
  background: #25b15f;
}

.home-shop-01 .btn-primary,
.home-shop-01 .btn-outline-primary,
.home-shop-01 .process-steps.ps-style-2 .pss-step-number span::before,
.home-shop-01 .tab-style-1 .nav-pills .nav-link.active, .tab-style-1 .nav-pills .show > .nav-link{
  border-color:#25b15f;
}
.home-shop-01 .tab-style-2 .nav-tabs a.active::after{
  border-left-color: #25b15f;
}