header .container { position: relative; }
.li-mega-menu a:focus, .li-mega-menu a:active { outline: none; }
.li-mega-menu .img-responsive { display: block; margin: 0 auto; }
.li-mega-menu .mm-message { font-size: 15px; font-weight: 500; color: #b91818; text-align: center; padding: 15px 0; }
.li-mega-menu { position: static !important; }
.li-mega-menu.mm_icon > a { position: relative; padding-left: 40px; }
.li-mega-menu.mm_icon .icon { display: inline-block; left: 8px; position: absolute; bottom: 0; top: 0; margin: auto; height: 24px; }
.li-mega-menu .mega-dropdown-menu { width: 100%; padding: 15px; box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12); border: none; margin: 1px 0 0 0 !important; }
.li-mega-menu .mega-dropdown-menu.list_cat_megamenu { padding-top: 0; padding-bottom: 0; }
.li-mega-menu .letter-spacing { letter-spacing: -0.31em; }
.li-mega-menu .letter-spacing .inline-block { display: inline-block; vertical-align: top; float: none; letter-spacing: normal; margin-bottom: 15px; }
.li-mega-menu a { text-decoration: none; }
.li-mega-menu ul { margin: 0; padding: 0; }
.li-mega-menu ul li { list-style-type: none; position: relative; }
.li-mega-menu ul li.dropdown-header { margin: 0; padding: 0 0 5px; }
.li-mega-menu ul li.dropdown-header > a, .li-mega-menu ul li.dropdown-header > span { text-transform: uppercase; color: #000; font-size: 16px; font-weight: 600; padding: 0 !important; }
.li-mega-menu .inline-block > ul > li > a { padding: 5px 0; display: inline-block; vertical-align: top; width: 100%; }
.li-mega-menu .inline-block > ul > li.first-category > a { color: #333; background: transparent; }
.li-mega-menu .inline-block > ul > li.first-category:hover > a { color: #000; }

/*.li-mega-menu li.inline-block > ul > li.first-category > ul { display: none; position: absolute; top: 0; left: 60%; background: #fff; padding: 5px 12px; box-shadow: 0px 0px 6px 0px #ddd; width: 250px; z-index: 1;}
.li-mega-menu li.inline-block > ul > li.first-category:hover > ul { display: block;} */
.li-mega-menu .inline-block > ul > li.first-category > ul > li > a { color: #000; padding: 5px 0; display: inline-block; vertical-align: top; width: 100%; }
.li-mega-menu .inline-block > ul > li.first-category > ul > li:hover > a { color: #333; }
.li-mega-menu .inline-block > ul > li.first-category.has_child > a { position: relative; padding-right: 5px;/* display: block;*/ }
.li-mega-menu .inline-block > ul > li.first-category.has_child > span.fa-chevron-right { width: 30px; height: 25px; position: absolute; right: 0; top: 2px; cursor: pointer; }
.li-mega-menu .inline-block > ul > li.first-category.has_child > span.fa-chevron-right:after, .li-mega-menu .inline-block > ul > li.first-category.has_child > span.fa-chevron-right:before { content: ""; display: block; position: absolute; top: 50%; left: 0; bottom: auto; right: auto; -ms-transform-origin: 50% 50% 0; -webkit-transform-origin: 50% 50% 0; -moz-transform-origin: 50% 50% 0; transform-origin: 50% 50% 0; -webkit-transition: all 300ms ease 0s; -moz-transition: all 300ms ease 0s; -o-transition: all 300ms ease 0s; transition: all 300ms ease 0s; width: 10px; height: 1px; background-color: #21313a; box-shadow: 0 1px 1px rgba(33, 49, 58, 0.1) }
.li-mega-menu .inline-block > ul > li.first-category.has_child >  span.fa-chevron-right:before { transform: rotate(45deg); left: 0px; right: 7.75px; margin: auto; }
.li-mega-menu .inline-block > ul > li.first-category.has_child >  span.fa-chevron-right:after { transform: rotate(-45deg); left: 0px; right: -6.75px; margin: auto; }
.li-mega-menu .inline-block > ul > li.first-category.has_child > ul { height: 0; overflow: hidden; }
.li-mega-menu .inline-block > ul > li.first-category.has_child > ul > li { opacity: 0; -webkit-transform: translateY(50px); transform: translateY(50px); -webkit-transition-duration: 0; transition-duration: 0; -webkit-transition-delay: 0.3s; transition-delay: 0.3s; }
.li-mega-menu .inline-block > ul > li.first-category.has_child.open > a { color: #a3498b; overflow: hidden; font-weight: 600; }
.li-mega-menu .inline-block > ul > li.first-category.has_child.open > a:after { content: ''; position: absolute; top: 50%; left: calc(100% + 10px); width: 5px; height: 5px; background: rgba(0, 0, 0, .1); opacity: 0; border-radius: 100%; transform: scale(1, 1) translate(-50%); transform-origin: 50% 50%; }
@keyframes ripple {
  0% { transform: scale(0, 0); opacity: 0; }
  20% { transform: scale(50, 50); opacity: 0.5; }
  100% { opacity: 0; transform: scale(100, 100); }
}
.li-mega-menu .inline-block > ul > li.first-category.has_child.open > a:after { animation: ripple 0.5s ease-out; }
.li-mega-menu .inline-block > ul > li.first-category.has_child.open > span.fa-chevron-right:before { right: 0px; transform: rotate(135deg); width: 13px; }
.li-mega-menu .inline-block > ul > li.first-category.has_child.open > span.fa-chevron-right:after { right: 0px; width: 13px; transform: rotate(-135deg); }
.li-mega-menu .inline-block > ul > li.first-category.has_child.open > ul { height: auto; border-bottom: 1px solid #ddd; }
.li-mega-menu .inline-block > ul > li.first-category.has_child.open > ul > li { -webkit-transform: translateY(0); transform: translateY(0); opacity: 1; -webkit-transition: -webkit-transform 0.65s cubic-bezier(0.07, 0.34, 0.15, 1) 0.2s, opacity 0.65s cubic-bezier(0.07, 0.34, 0.15, 1) 0.2s; transition: transform 0.65s cubic-bezier(0.07, 0.34, 0.15, 1) 0.2s, opacity 0.65s cubic-bezier(0.07, 0.34, 0.15, 1) 0.2s; transition-delay: 0.2s, 0.2s; }

/* Tab menu */
.li-mega-menu .list_cat_megamenu .cat-tabs .category_container.mobile { display: none; }
.li-mega-menu .list_cat_megamenu .cat-tabs { padding: 0; }
.li-mega-menu .list_cat_megamenu .cat-tabs > ul { margin: 0; padding: 0; }
.li-mega-menu .list_cat_megamenu .cat-tabs > ul > li { margin: 0; padding: 0 }
.li-mega-menu .list_cat_megamenu .cat-tabs > ul > li > a { margin: 0; padding: 15px !important; text-transform: uppercase; font-size: 15px; font-weight: 600; color: #333; background: #eee; display: block; }
.li-mega-menu .list_cat_megamenu .cat-tabs > ul > li.active > a { color: #000; background: #fff; }
.li-mega-menu .list_cat_megamenu .category_container { padding-top: 15px; padding-bottom: 15px; }
.navbar-nav .li-mega-menu .dropdown-menu .cat-tabs .dropdown-header { border-bottom: 1px solid #fff; }
.navbar-nav .li-mega-menu .dropdown-menu .cat-tabs .dropdown-header:last-child { border-bottom: none; }

/**/
.li-mega-menu ul li.mm-carousel-slider { position: static; margin-top: 10px; }
.li-mega-menu .carousel-inner img { margin: 0 auto; }
.li-mega-menu .carousel-inner { text-align: center }
.li-mega-menu .carousel-inner h4 { display: inline-block; vertical-align: top; width: 100%; }
.li-mega-menu .carousel-inner h4 small { font-size: 15px; font-weight: 600; }
.mega-dropdown-menu .carousel-control { background: none; height: 30px; width: 30px; top: 0; bottom: auto; margin: auto; cursor: pointer; }
.mega-dropdown-menu .carousel-control .fa { color: #000; }
.mega-dropdown-menu .footer { padding: 10px 15px; margin: 0; }
.mega-dropdown-menu .footer p { margin: 0; }
.mega-dropdown-menu .carousel-control { bottom: auto; color: rgb(255, 255, 255); font-size: 20px; left: auto; opacity: 0.5; position: absolute; right: 40px; text-align: center; text-shadow: none; }
.mega-dropdown-menu .carousel-control:hover { opacity: 1; }
.mega-dropdown-menu .carousel-control.right { left: auto; right: 15px; }
@media  (min-width:0px) and (max-width:767px) {
  .li-mega-menu a { padding: 5px 15px; display: block; }
  .li-mega-menu > a > span.fa { float: right; margin-top: 5px; }
  .li-mega-menu .mega-dropdown-menu { padding: 0 15px; }
  .li-mega-menu .list_cat_megamenu .category_container { display: none; }
  .li-mega-menu .list_cat_megamenu .cat-tabs ul li.category_container.mobile { display: block; }
  .li-mega-menu .list_cat_megamenu .cat-tabs .inline-block { padding: 0; }
  .li-mega-menu .list_cat_megamenu .cat-tabs ul { position: relative; left: auto; top: auto; box-shadow: none; }
  .li-mega-menu .list_cat_megamenu .cat-tabs > ul > li { padding: 0 !important; width: 100%; display: inline-block; vertical-align: top; }
  .li-mega-menu .list_cat_megamenu .cat-tabs > ul > li > a { padding: 10px 15px !important }
  .li-mega-menu .list_cat_megamenu .cat-tabs .first-category ul { padding-left: 15px; }
  .li-mega-menu .mega-dropdown-menu .first-category > ul { display: none; }
  .li-mega-menu .mega-dropdown-menu .first-category.open > ul { display: block; }
  .li-mega-menu .letter-spacing .inline-block { margin-bottom: 0; }
  .li-mega-menu .mega-dropdown-menu .inline-block { width: 100%; padding: 0; }
  .li-mega-menu ul li.dropdown-header { padding: 0 0 0px !important; }
  .li-mega-menu ul li.dropdown-header.slider_header { padding-top: 15px !important; }
  .li-mega-menu ul li.dropdown-header > a { padding: 5px 15px !important; }

  /*.li-mega-menu li.inline-block > ul > li.first-category > ul { position: relative; left: auto; top: auto; box-shadow: none; display: none !important; padding-left: 30px; width: 100%;}
  .li-mega-menu li.inline-block > ul > li.first-category.open > ul { display: block !important;}*/
  .li-mega-menu .inline-block > ul > li > a { padding: 5px 15px; display: block; }
  .li-mega-menu .inline-block > ul > li.first-category > ul > li > a { padding: 5px 15px; display: block; }
  .li-mega-menu .inline-block > ul > li.first-category.has_child > span.fa-chevron-right { right: 10px; }
  .li-mega-menu .list_cat_megamenu .cat-tabs ul li.category_container.mobile { padding: 10px 0px !important; }
  .li-mega-menu .inline-block > ul > li.first-category.has_child.open > ul { margin: 0px 15px; padding-left: 0px; }
  .navbar-default .navbar-nav > li > a { border-bottom: 1px solid #d8d8d8; }
  .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus { border-color: #a44a8c; font-weight: bold; color: #fff; background-color: #a44a8c; }

  /*-- mobile menu --*/
  .li-mega-menu > a > span.fa.fa-angle-down { position: absolute; right: 15px; width: 18px; height: 40px; transform: rotate(360deg); transition: all 0.3s ease; z-index: 0; top: 0; margin: 0px; }
  .li-mega-menu.open > a > span.fa.fa-angle-down { transform: rotate(135deg) !important; }
  .li-mega-menu > a > span.fa.fa-angle-down:before { content: ""; height: 13px; width: 1px; background: #21313a; position: absolute; top: 0; bottom: 0; left: 0; margin: auto; right: 0; }
  .li-mega-menu > a > span.fa.fa-angle-down:after { content: ""; height: 1px; width: 13px; background: #21313a; position: absolute; top: 0px; bottom: 0; left: 0px; right: 0; margin: auto; }
  .navbar-nav .li-mega-menu.open .dropdown-menu { position: static; float: none; width: auto; margin-top: 0; background-color: transparent; border: 0; box-shadow: none; padding-top: 12px; border: 1px solid #a44a8c; margin-top: 0px; border-top: none; margin-top: -1px !important; border-radius: 0px; padding-bottom: 12px; }
  .li-mega-menu.open > a > span.fa.fa-angle-down:after, .li-mega-menu.open > a > span.fa.fa-angle-down:before { background: #fff; }
  .li-mega-menu ul li.dropdown-header > a, .li-mega-menu ul li.dropdown-header > span { font-size: 13px; }
  .li-mega-menu .letter-spacing .inline-block.o_sub_opened  ul { padding-bottom: 10px; }
  .li-mega-menu .inline-block > ul > li.first-category > ul > li > a:before { content: " - "; }

  /*-- tab menu --*/
  .li-mega-menu .list_cat_megamenu .cat-tabs > ul > li > a { font-size: 13px; }
  .navbar-nav .li-mega-menu .dropdown-menu .cat-tabs .dropdown-header { border-bottom: 1px solid #fff; }
  .navbar-nav .li-mega-menu .dropdown-menu .cat-tabs .dropdown-header:last-child { border-bottom: none; }
  .navbar-nav .li-mega-menu .dropdown-menu .cat-tabs .dropdown-header a { position: relative; }
  .navbar-nav .li-mega-menu .dropdown-menu .cat-tabs .dropdown-header a:before { content: ""; height: 13px; width: 1px; background: #21313a; position: absolute; top: 0; bottom: 0; margin: auto; right: 25px; display: inline-block; transition: all 0.3s ease; }
  .navbar-nav .li-mega-menu .dropdown-menu .cat-tabs .dropdown-header a:after { content: ""; height: 1px; width: 13px; background: #21313a; position: absolute; top: 0px; bottom: 0; right: 19px; margin: auto; display: inline-block; transition: all 0.3s ease; }
  .navbar-nav .li-mega-menu .dropdown-menu .cat-tabs .dropdown-header.active a:before, .navbar-nav .li-mega-menu .dropdown-menu .cat-tabs .dropdown-header.active a:after { transform: rotate(135deg); }
  .navbar-nav .li-mega-menu .mega-dropdown-menu.list_cat_megamenu {padding-top: 0px; padding-bottom: 0px;}
}


.img-responsive { max-width: 100%; height: auto; max-height: 100%;  }
.hidden { display: none; }
.navbar-light .navbar-nav .show > .nav-link { color: rgba(0, 0, 0, 0.5); }
.navbar-light .navbar-nav .show > .nav-link:hover { color: rgba(0, 0, 0, 0.9); }
.navbar { padding-top: 0; padding-bottom: 0; }
.nav-link { padding-top: 0.8rem; padding-bottom: 0.8rem; }
.li-mega-menu.mm_icon .icon {
  position: static;
}
.li-mega-menu {
  &.show {
    .nav-link {
      background-color: #e7e7e7;
    }
  }
  .dropdown-toggle{
    &:after{
      display:none;
    }
  }
}
.megamenu-list-image { display: block; height: 250px; }
.megamenu-list-image img { margin: inherit !important; }

.li-mega-menu .mm-message { margin: auto;}

@media (max-width: 767px){
  .navbar { padding-top: 7px; padding-bottom: 7px; border-bottom: 1px solid #e7e7e7; }
  .navbar-toggler { padding: 4px 10px; }
  .navbar-toggler-icon { width: 22px; height: 22px; }
  .navbar-nav.text-right { text-align: left !important; }
  header .navbar-collapse { margin-left: -1rem; margin-right: -1rem; margin-top: 8px; }
  .navbar-light .navbar-nav .nav-link { border-top: 1px solid #e7e7e7; padding-left: 15px; padding-right: 15px;}
  .collapse.show { display: block; }
  .navbar-light .navbar-nav .show > a, .navbar-light .navbar-nav .show > a:hover, .navbar-light .navbar-nav .show > a:focus { border-color: #a44a8c; font-weight: bold; color: #fff !important; background-color: #a44a8c; }
  .navbar-nav .li-mega-menu.show .dropdown-menu { position: static; float: none; width: auto; margin-top: 0; background-color: transparent; border: 0; box-shadow: none; padding-top: 12px; border: 1px solid #a44a8c; margin-top: 0px; border-top: none; margin-top: -1px !important; border-radius: 0px; padding-bottom: 12px; }
  .li-mega-menu.show > a > span.fa.fa-angle-down { -webkit-transform: rotate(135deg) !important;-ms-transform: rotate(135deg) !important;transform: rotate(135deg) !important; }
  .li-mega-menu.show > a > span.fa.fa-angle-down:before, .li-mega-menu.show > a > span.fa.fa-angle-down:after { background: #ffffff; }
  .li-mega-menu > a > span.fa.fa-angle-down { top: -4px; }
}
