/* Blog*/

.website_blog {

	.blogpost {
		.o_blog_cover_container.cover_narrow {
			margin-top: 0 !important;
		}
	}
	.sidebar {
		margin-bottom: 20px;
		padding-bottom: 20px;
		border-bottom: 1px solid #f1f1f1;
	}
	.o_blog_cover_container.cover_narrow {
		width: 100%;
	}
	.o_blog_cover_container.cover {
		>.blog_title {
			h1 {
				color: $as-white;
			}
			h2 {
				color: $as-white;
			}
		}
	}
	.o_blog_cover_container.cover_footer {
		>.blog_title {
			h1 {
				color: $as-white;
			}
			h2 {
				color: $as-white;
			}
		}
	}
}

.website_blog .o_blog_cover_container.cover > .blog_title h1
{font-size: 2.1875rem; line-height: 1.5;}
.website_blog .o_blog_cover_container.cover > .blog_title h1,
.website_blog .o_blog_cover_container.cover > .blog_title h2 {
    color: #fff;
    background: transparent;
    display: block;
    padding: 0;
    margin: 0;
}
.website_blog .o_blog_cover_container.cover > .blog_title h2 {
       font-size: 18px;
    font-weight: normal;
    margin-top: 20px; margin-bottom: 30px;
}
.badge-primary {
    color: #FFFFFF;
    background-color: #000000;
}
.blogpost {
	border-radius: 6px;
	overflow: hidden;
	box-shadow: inherit !important;
	background: #fff;
	margin-bottom: 30px;
}
.blogpost-content {
	>header {
		padding: 0 25px;
	}
	>p {
		padding: 0 25px;
	}
}
.blogpost-body {
	footer {
		background: none;
		padding: 0 25px;
		padding-bottom: 20px;
	}
}
.sidebar {
	ul.nav-stacked {
		>li {
			>a {
				padding: 2px 0;
				color: $as-light3;
			}
		}
	}
	.ul.nav-stacked {
		>li {
			margin-top: 0;
		}
	}
}


/*============================================*/
/* Blog Elements */
/*============================================*/
.post-inner {
    display: flex;
}
.theme-post {
    display: block;
    width: 100%;
}
.theme-post .post-img {
    width: 100%;
    margin-bottom: 30px;
}
.theme-post .post-body{
    width: 100%;
    padding: 0 15px;
}
.theme-post .o_blog_cover_image{
    height: 230px;
    background-size: cover;
    -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.theme-post .o_blog_cover_image{
	top: 0;
    -webkit-box-shadow: 0 5px 20px rgba(0,0,0,0.0);
    -moz-box-shadow: 0 5px 20px rgba(0,0,0,0.0);
    box-shadow: 0 5px 20px rgba(0,0,0,0.0);
    border-radius: 8px;
    position: relative;
}
.theme-post:hover .o_blog_cover_image{
    top: -5px;
    -webkit-box-shadow: 0 20px 70px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 20px 70px rgba(0, 0, 0, 0.1);
    box-shadow: 0 20px 70px rgba(0, 0, 0, 0.1);
        
}

.theme-post .theme-post-title {
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    margin-bottom: 0;
}
.theme-post .theme-post-title a{
    color: #323232;
    text-decoration: none;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.theme-post .theme-post-title a:hover{
    color: $as-theme;
}
.theme-post .read-more {
    display: inline-block;
    font-weight: 600;
    color: $as-theme;
    margin-top: 10px;
    padding-left: 0;
    position: relative;
    text-decoration: none;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.theme-post .post-date{
    font-weight: 600;
    color: $as-theme;
}
#blog_right_column section.blog_tags ul.nav-pills li a {
    font-size: 0.75rem;
    color: #000000;
    font-family: inherit;
    letter-spacing: 0;
    border-width: 1px;
    border-color: #eaeaea;
    border-style: solid;
    margin: 8px 4px;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    padding: 5px 15px;
}
#blog_right_column section.blog_tags ul.nav-pills li a:hover{background: $as-theme; color: #fff; border-color: $as-theme;}
#blog_right_column  input[type=email].form-control{
    padding: 23px 17px;
    font-size: 12px;
}
/*=========================================================*/
/* Blog Page */
/*=========================================================*/
.website_blog #main_column,
.website_blog #blog_right_column{margin: 50px 0;}

.website_blog .o_blog_post_teaser{color: #969696;}
.website_blog div[name="blog_post"]{margin-bottom: 50px !important;}
.website_blog div[name="blog_post"]:last-child{margin-bottom: 0px !important;}
.website_blog .o_blog_cover_container.o_list_cover.cover{margin-top: 0px !important;}
.website_blog div[name="blog_post"] hr{display: none;}
.website_blog div[name="blog_post_data"]{color: #969696; margin-top: 10px !important;}
.website_blog div[name="blog_post_data"] a{color: #969696;}
.website_blog div[name="blog_post_data"] a:hover{color: $as-theme;}

.website_blog #main_column .o_sharing_links > a {
    margin: 0 8px 0 8px;
    /*font-size: 1rem;*/
    color: $black;
}
.website_blog #main_column .o_sharing_links > a:hover {color: $as-theme;}

/*---------------------*/
/* Blog - Sidebar */
/*---------------------*/
#blog_right_column section{margin-top: 0px !important; margin-bottom: 50px !important;}
#blog_right_column section:last-child{margin-bottom: 0px !important;}
#blog_right_column section h4{border: none; border-bottom: 1px solid rgba(100, 100, 100, 0.2); padding: 0; margin: 0; padding-bottom: 15px; font-weight: 500; margin-bottom: 20px; font-size: 18px;  text-transform: capitalize;}

body #blog_right_column a i{
    font-size: 1.125rem;
    color: #575757;
}
.website_blog .blog_post_year_collapse > i {
    color: #000;
}
#blog_right_column ul.flex-column li.nav-item > a.nav-link {
    font-size: 0.875rem;
    color: #969696;
    padding: 6px 0;
}
#blog_right_column ul.flex-column li.nav-item > a.nav-link:hover,
#blog_right_column ul.flex-column li.nav-item > a.nav-link.active {
    color: $as-theme;
    background-color: transparent;
}

#blog_right_column section.blog_tags ul.nav-pills{
    margin-left: 0 !important;
}
#blog_right_column .badge {
    background-color: $as-theme;
    color: #fff;
}
/*************************************
         Post Style
 **************************************/
.s_latest_posts .post-body{ padding: 0; }
.s_latest_posts .entry-meta{ margin-bottom: 10px; font-size: 12px;}
.s_latest_posts .description{color: #888888; font-size: 14px;  margin-top: 1em;  margin-bottom: 1em;}
.s_latest_posts a.link { display: inline-block; width: 20px;   height: 15px;}


.js_get_posts{
    position: relative;
    min-height: 100px;
    overflow: auto;
}

.progress.js-loading{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0;

  .progress-bar{
    margin: 0;
    left: 10%;
    width: 80%;
    top: 45%;
    height: 10px;
    position: absolute;
    background: #DBDBDB;
    box-shadow: none;
  }
}


.s_latest_posts .media.media_list_template {
    width:32%; 
    margin-right:2%;
    margin-top:0;
    float:left;
    background: #fff;
    .post-img {
        box-sizing: content-box;
        width: 100%;
        height: 200px;

        @media (min-width: $screen-sm-min) {
            width: 100%;
            height: 300px;
        }

        > a {
            width: 100%;
            height: 100%;

            > .o_blog_cover_container {
                position: relative;
                width: 100%;
                height: 100%;
                padding: 0;

               
                > .o_blog_cover_image {
                    background-size: cover;
                    background-position: center;
                }
            }
        }
    }
}
.s_latest_posts .media.media_list_template:last-child{margin-right: 0}


// =============================
// s_latest_posts_big_picture
// =============================
@s_latest_posts_big_picture-figure_bg: @brand-primary;

//  ====== hooks(hook) =====================================
//  ===========================================================
//  Use them to inject NEW rules or overwrite the old ones.
//  This method is more maintenable than classic css overwrite
//  'couse it works also if the snippet's structure will change.

//  How to:
//  in your theme, just call the backdoor like a normal
//  CSS class adding parethesis at the end ".backdoor-name()"
//  (this will prevent the creation of a standard CSS class).
//  Add your rules inside. Your style will take the priority.
//  Done.

//  .s_latest_posts-figure() {
//    background: red;
//    min-height: 200px;
//  }

@mixin s_latest_posts-js_get_posts-hook(){};
@mixin s_latest_posts-figure-hook(){};	

.s_latest_posts_big_picture figcaption > h4{color: #fff; margin-bottom: 10px;}

.s_latest_posts{padding: 70px 0;}
.s_latest_posts .seaction-head h1{margin-top: 0;}
 
body .s_latest_posts .media.media_list_template .pull-left {
	width: 100%;
	height: 250px;
	margin-bottom: 15px;
}
body .s_latest_posts .media.media_list_template .btn-default{background: none; padding: 0; color: #333;}
.s_latest_posts .media.media_list_template .btn-default:hover{background: none; color: #333;}


body .s_latest_posts_big_picture{padding-top: 80px;}
body .s_latest_posts_big_picture>div figure{padding: 0}
body .s_latest_posts_big_picture .js_get_posts h2{color: #fff}

.website_blog .o_blog_post_title {margin-bottom: 20px !important;}
#blog_right_column .input-group > .input-group-append > .btn{border-radius: 0; background: #fff; color: $as-theme; border-color: $as-theme;}
#blog_right_column .input-group > .input-group-append > .btn.js_unfollow_btn{background: $as-theme; color: #fff}

.o_wblog_post .badge{background-color: $as-theme; color: #ffffff}
.o_wblog_normalize_font .small{color: #6c757d;
font-size: 13px;
font-weight: normal !important;
padding: 0 !important;}