/*--------------------*/
/* Font Size */
/*--------------------*/
.banner-title.xxl {
	font-size: 100px;
	line-height: 110px;
}
.banner-title.xl {
	font-size: 80px;
	line-height: 90px;
}
.banner-title.lg {
	font-size: 70px;
	line-height: 72px;
}
.banner-title.md {
	font-size: 60px;
	line-height: 70px;
}
.banner-title.sm {
	font-size: 50px;
	line-height: 60px;
}
.banner-title.xs {
	font-size: 40px;
	line-height: 50px;
}


/*============================================*/
/* Banner Section */
/*============================================*/
.banner-section {
	position: relative;
	padding: 0;
}
.banner-inner {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
.banner-text .banner-tagline {
	font-size: 18px;
	color: #fd8558;
	margin-bottom: 10px;
}
.banner-text .banner-title span{
	color: #fd8558;
}
.banner-text .description {
	color: #999999;
	line-height: 26px;
	margin-top: 30px;
	margin-bottom: 30px;
}

/*------------------------*/
/* Banner Button */
/*------------------------*/
.banner-text .button + .button {
	margin-left: 10px;
}
.banner-text .button + .button-link {
	margin-left: 15px;
}
.banner-text .button {
	display: inline-block;
	background: #fd8558;
	color: #ffffff;
	font-size: 14px;
	font-weight: 500;
	padding: 15px 25px;
	line-height: 20px;
	text-decoration: none;
	box-shadow: 0 5px 20px rgba(253, 133, 88, 0.5);
	border-radius: 2px;
}
.banner-text .button-link {
	color: #323232;
	font-size: 15px;
	font-weight: 600;
	text-decoration: none;
	padding: 15px 0;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.banner-text .button-link i {
	width: 38px;
    height: 38px;
    line-height: 38px;
    color: #323232;
    background: transparent;
    border: 2px solid #e8e8e8;
    text-align: center;
    border-radius: 50px;
    font-size: 13px;
    margin-left: 10px;
    -webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.banner-text .button-link:hover i {
	color: #ffffff;
	background: #fd8558;
}
.button.btn-round {
	padding: 15px 30px;
	border-radius: 50px;
}

/*------------------------*/
/* Banner Style 1 */
/*------------------------*/
.banner-style1 .banner-inner {
	position: relative;
	padding: 100px 0;
}
.banner-style1 .banner-inner:before {
	content: "";
	background-image: url(../img/banner-style1-bg.png);
	background-position: bottom center;
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}

/*------------------------*/
/* Banner Style 2 */
/*------------------------*/
.banner-style2 .banner-inner {
	position: relative;
	padding: 7vw 0;
}
.banner-style2 .banner-image {
	position: static;
}
.banner-style2 .banner-image:before {
	content: "";
	background-image: url(../img/banner-style2-bg.png);
	background-position: bottom right;
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
} 

/*------------------------*/
/* Banner Style 3 */
/*------------------------*/
.banner-style3 .banner-inner {
	position: relative;
	padding: 10vw 0;
}
.banner-style3 .banner-image {
	position: static;
}
.banner-style3 .banner-image:before {
	content: "";
	background-image: url(../img/banner-style3-bg.png);
	background-position: bottom right;
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}

/*------------------------*/
/* Banner Style 4 */
/*------------------------*/
.banner-style4 .banner-image{
	position: relative;
}
.banner-style4 .banner-image:before {
	content: "";
	background-image: url(../img/banner-style4-bg.png);
	background-position: bottom center;
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}
/*------------------------*/
/* Banner Style 5 */
/*------------------------*/
.banner-style5 .banner-image{
	position: relative;
}
.banner-style5 .banner-image:before {
	content: "";
	background-image: url(../img/banner-style5-bg.png);
	background-position: bottom center;
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}
