/*============================================*/
/* Feature Box */
/*============================================*/
.feature-box .feature-icon {
	margin-bottom: 20px;
}
.feature-box .title {
	font-size: 22px;
	line-height: 26px;
	font-weight: 500;
	margin-bottom: 15px;
}
.feature-box p {
	margin-bottom: 0;
}

.feature-box .feature-link{
	display: block;
	color: #fd8558;
	font-weight: 600;
	margin-top: 15px;
}

.feature-box .color1{
	color: #f33d5a;
}
.feature-box .color2{
	color: #02c873;
}
.feature-box .color3{
	color: #ffa778;
}

/*------------------------*/
/* Feature Shadow */
/*------------------------*/
.feature-box.feature-shadow {
	background: #ffffff;
	padding: 40px 40px;
	box-shadow: 0 20px 70px 0 rgba(4,7,18,.06);
}
.feature-box.feature-shadow .feature-icon {
    margin-bottom: 40px;
}

/*------------------------*/
/* Feature Shadow */
/*------------------------*/
.feature-box.icon-center{
	text-align: center;
}

/*------------------------*/
/* Icon Left */
/*------------------------*/
.feature-box.icon-left .feature-icon {
	display: flex;
}
.feature-box.icon-left .feature-icon .icon {
	flex: 0 0 70px;
	margin-right: 20px;
}
.feature-box.icon-left .title{
	align-self: center;
	margin-bottom: 0;
}
.feature-box .feature-icon .icon.round{
	background: #fee8eb;
	width: 70px;
	height: 70px;
	border-radius: 50%;
	text-align: center;
	line-height: 70px;
	color: #f44763;
	font-size: 24px;
	display: inline-block;
}
/*------------------------*/
/* Icon Shadow */
/*------------------------*/
.feature-box .icon-border {
	display: inline-block;
	text-align: center;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	text-align: center;
	line-height: 80px;
	color: #f44763;
	font-size: 24px; 
	border:1px solid rgba(36, 74, 117, 0.1);
}

/*------------------------*/
/* Icon Shadow */
/*------------------------*/
.feature-box.no-pad{
	padding: 0;
	padding-right: 20px;
}
.feature-icon.icon-rounded{
	border-radius: 4px;
	background: #f44763;
	width: 60px;
	height: 60px;
	line-height: 60px;
	font-size: 24px;
	color: #fff;
	text-align: center;
	margin-bottom: 30px;
}
.feature-box.no-pad .title{
	font-size: 18px;
    line-height: 24px;
}

.animation{
	-webkit-transition: all .3s cubic-bezier(.645,.045,.355,1);
    transition: all .3s cubic-bezier(.645,.045,.355,1);
}
.move-up{
	-ms-transform: translateY(0); /* IE 9 */
  -webkit-transform: translateY(0); /* Safari */
  transform: translateY(0);
}
.move-up:hover{
	-ms-transform: translateY(-10px); /* IE 9 */
  -webkit-transform: translateY(-10p); /* Safari */
  transform: translateY(-10px);
}
.shadow-hover{
	box-shadow: 0 0 0 0 rgba(4,7,18,0);
}
.shadow-hover:hover{
	box-shadow: 0 20px 70px 0 rgba(4,7,18,.06);
}