/*---------------------------------------------------------------------
Lists
----------------------------------------------------------------------*/

ul.list {padding: 0;margin: 0;list-style-type: none}
ul.list li{    padding-bottom: 10px;}
ul.list.desh li {   font-size: 16px;}
ul.list.desh li:before {    content: '----';    margin-right: 20px; letter-spacing: -0.17em;}

/* Square dot */
ul.dot li { list-style-type: none; position: relative; padding-left: 15px; }
ul.dot li:before { content: ""; position: absolute; left: 0px; top: 10px; background-color: #333; height: 4px;  width: 4px; display: inline-block; }

/*  List Round */
ul.round li { list-style-type: none; position: relative; padding-left: 25px; }
ul.round li:before { content: "\f192"; font-family: 'FontAwesome';  position: absolute; left: 0px; top: 0; display: inline-block; }

ul.line{padding:0; margin:0;}
ul.line li{position:relative; padding-left:25px;}
ul.line li:before{content:""; position:absolute; top:12px; left:0; width:12px; height:2px; background:#9b9b9b;}
ul.line.white-text li:before{background: #fff}