/* Section */
.stretch-to-right{
	 margin-right: -22vw !important;
}
.stretch-to-left{
	 margin-left: -22vw !important;
}
.liquid-img {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    position: relative;
    border-radius: inherit;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.liquid-img-inner {
    width: 100%;
    position: relative;
}
img {
    max-width: 100%;
    height: auto;
}
 body {
    overflow-x: hidden;
    max-width: 100vw;
}

ul.list {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
ul.arrow li {
    list-style-type: none;
    position: relative;
    padding-left: 20px;
    padding-bottom: 10px;
}
ul.arrow li:before {
    content: "\f105";
    font-family: 'FontAwesome';
    font-size: 16px;
    color: #d60c1a;
    position: absolute;
    left: 0px;
    top: 0;
    display: inline-block;
}
.card{
	box-shadow: 0 20px 70px 0 rgba(4,7,18,.06);
	border: none;
}
.card h4{
	font-size: 20px;
	margin-bottom: 10px;
}
.skill {
	display: inline-block;
	margin-bottom: 30px;
	width: 100%
}

.skill-bar {
	width: 100%;
	height: 4px;
	margin: 30px 0 20px 0;
	background-color: #f2f2f2
}

.skill-bar:not(:first-child) {
	margin-top: 55px
}

.skill-bar:last-child {
	margin-bottom: 0px
}

.skill-bar .progress-bar {
	height: 100%;
	color: #464646;
	padding: 0px;
	box-shadow: none;
	transition: width .9s ease;
	-webkit-transition: width .9s ease;
	-o-transition: width .9s ease;
	-ms-transition: width .9s ease;
	-moz-transition: width .9s ease;
	background: #0a78e4; 
}
 
.skill-bar .progress-bar .progress-number,
.skill-bar .progress-bar .progress-type {
	float: right;
	margin-top: -18px;
	position: relative;
	top: -10px;
	font-size: 15px;
	font-weight: 600
}

.skill-bar .progress-bar.dark {
	background-color: #333
}

.skill-bold .progress-bar {
	box-shadow: 0 3px 5px rgba(0, 0, 0, .2)
}

.skill-bold .progress-bar .progress-number,
.skill-bold .progress-bar .progress-type {
	margin-top: 0;
	top: 0;
	color: #fff;
	top: 6px;
	right: 7px
}

.skill-bold .skill-bar {
	height: 33px;
	margin: 10px 0;
	background: none
}

.skill-bold .progress-title {
	margin-top: 0;
	color: #fff;
	font-size: 14px;
	padding: 7px 10px
}

.dark-bg .progress-bar {
	color: #fff
}

.dark-bg .skill-boll .progress-bar,
.dark-bg .skill-boll .progress-bar:before {
	background: #fff
}

.rounded-skill {
	display: inline-block;
	margin: 0 0 15px;
	position: relative;
	text-align: center;
	font-size: 30px;
	font-weight: 700;
	color: #333
}

.rounded-skill+.title {
	margin-bottom: 0;
	font-size: 13px;
	font-weight: 600;
	text-transform: uppercase
}

.rounded-skill i {
	font-size: 42px
}

.rounded-skill canvas {
	position: absolute;
	top: 0;
	left: 0
}

.rounded-skill .counter .timer {
	display: inline
}

.dark-bg .rounded-skill {
	color: #fff
}


.bg-style-round{
	position: relative;
}
.bg-style-round:before{
	content: '';
	background: #f9f3df;
	width: 100%;
	left: 60%;
	top:0;
	position: absolute;
	height: 100%;
	border-radius: 50%;
}
.bg-style-round.left-side-2:before{
	background: #f9f3df;
	left: -60%;
}
.bg-style-round.left-side:before{
	background: #f0f6fb;
	left: -60%;
}
blockquote{
	font-size: 28px;
	line-height: 50px;
	font-weight: 500;
	color: #222;
}
.app-bg{
 	background: linear-gradient(145deg,#8400fc 0,#11def4 100%);
 }
.app-title{
	font-size: 24px;
	line-height: 30px;
	font-weight: 500;
	margin-bottom: 20px;
}