/*============================================*/
/* Portfolio */
/*============================================*/
.popup-gallery {
	display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
	margin-right: -15px;
}
.popup-gallery .grid-item{
	padding: 0 15px;
	margin-top: 25px;
}
.popup-gallery.no-gap .grid-item{
	padding: 0 0;
	margin-top: 25px;
}
.popup-gallery.columns-2 .grid-item{
	flex: 0 0 50%;
	-ms-flex: 0 0 50%;
}
.popup-gallery.columns-3 .grid-item{
	flex: 0 0 33.33%;
	-ms-flex: 0 0 33.33%;
}
.popup-gallery.columns-4 .grid-item{
	flex: 0 0 25%;
	-ms-flex: 0 0 25%;
}

.popup-gallery .portfolio-image {
	position: relative;
	top: 0;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.popup-gallery .portfolio-image:hover {
	top: -7px;
}
.popup-gallery .popup-img {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: 10px;
	transform: translate(-50%,-50%);
	width: 50px;
	height: 50px;
	opacity: 0;
	display: flex;
	justify-content: center;
	background: #fd8558;
	text-decoration: none;
	border-radius: 50px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.popup-gallery .portfolio-image:hover .popup-img {
	opacity: 1;
	margin-top: 0;
}
.popup-gallery .popup-img i {
	align-self: center;
	font-size: 14px;
	color: #ffffff;
}
.popup-gallery .portfolio-item img {
	width: 100%;
	border-radius: 3px;
	-webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.03);
	-moz-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.03);
	box-shadow: 0 10px 30px rgba(0, 0, 0, 0.03);
}
.popup-gallery.no-gap .portfolio-item img{
	border-radius: 0;

}
.popup-gallery .portfolio-info {
	margin-top: 15px;
}
.popup-gallery .portfolio-title {
	font-size: 20px;
	font-weight: 600;
	line-height: 30px;
	margin-bottom: 0;
}
.popup-gallery .portfolio-title a{
	color: #323232;
	text-decoration: none;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.popup-gallery .portfolio-title a:hover{
	color: #fd8558;
}
.popup-gallery .portfolio-category {
	font-size: 13px;
	font-weight: 600;
	color: #b5b5b5;
	letter-spacing: 1px;
	text-transform: uppercase;
}

/*--------------------*/
/* Style 2 */
/*--------------------*/
.popup-gallery.portfolio-style2 .portfolio-info{
	display: none;
}
.popup-gallery.portfolio-style2 .grid-item {
	padding: 0;
	margin-top: 0;
}
.popup-gallery.portfolio-style2 .portfolio-image{
	top: 0;
}
.popup-gallery.portfolio-style2 .popup-img {
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	width: auto;
	height: auto;
	transform: inherit;
	margin: 0;
	border-radius: 0;
	transform: scale(0.6);
	background: rgba(0,0,0,0.5);
	opacity: 0;
	font-size: 30px;
}
.popup-gallery.portfolio-style2 .portfolio-item:hover .popup-img {
	transform: scale(1.0);
	opacity: 1;
}
.popup-gallery.portfolio-style2 .popup-img i {
    font-size: inherit;
}