/*============================================*/
/* Section Title */
/*============================================*/
.section-title {
	margin-bottom: 50px;
}
.section-title .title-tagline {
	display: block;
	color: #fd8558;
	margin-bottom: 15px;
}

.section-title .main-title {
	margin-bottom: 20px;
}

.lead {
	font-size: 15px;
	font-weight: 700;
	color: #212121;
	line-height: 26px;
}
