/*-------------------------------------------------
Skill
--------------------------------------------------*/
/* Defualt skill */
.skill { display: inline-block; margin-bottom: 30px; width: 100%; }
.skill-bar{width:100%; height:4px; margin:30px 0 20px 0; background-color:#f2f2f2;}
.skill-bar:not(:first-child){margin-top:55px;}
.skill-bar:last-child{margin-bottom:0px;}
.skill-bar .progress-bar{height:100%; background:$as-theme; color: #464646; padding:0px; box-shadow:none; transition: width .9s ease; -webkit-transition: width .9s ease; -o-transition: width .9s ease; -ms-transition: width .9s ease; -moz-transition: width .9s ease;
background: $as-theme;
background: -webkit-linear-gradient(left, $as-theme , #323232);
background: -o-linear-gradient(right, $as-theme, #323232);
background: -moz-linear-gradient(right, $as-theme, #323232);
background: linear-gradient(to right, $as-theme , #323232);
}
.progress-title{ font-size:15px;  font-weight:400;  position:absolute; text-align:left; margin-left:0;  margin-top:-25px;}
.progress-title > i{margin-right:8px;}
.skill-bar .progress-bar .progress-number,
.skill-bar .progress-bar .progress-type{ float:right; margin-top:-18px; position:relative; top:-10px; font-size:15px; font-weight:600;}
.skill-bar .progress-bar.dark{background-color: #333}

/* Skill Bold */
.skill-bold .progress-bar{box-shadow:0 3px 5px rgba(0,0,0,0.2);}
.skill-bold .progress-bar .progress-number,
.skill-bold .progress-bar .progress-type{margin-top: 0; top: 0; color: #ffffff; top: 6px; right: 7px;}
.skill-bold .skill-bar{height: 33px; margin:10px 0; background: none;}
.skill-bold .progress-title{margin-top: 0; color: #ffffff; font-size: 14px; padding: 7px 10px;}

/* Dark BG - Skill */
.dark-bg .progress-bar{color: #fff}
.dark-bg .skill-boll .progress-bar,
.dark-bg .skill-boll .progress-bar:before{background:#ffffff;}

/* ----------------------------------------------------------------
Skills Rounded Animated
-----------------------------------------------------------------*/
.rounded-skill{display:inline-block; margin:0 0 15px; position:relative; text-align:center; font-size:30px; font-weight:700; color:#333333;}
.rounded-skill + .title{margin-bottom:0; font-size:13px; font-weight:600; text-transform:uppercase;}
.rounded-skill i{font-size:42px;}
.rounded-skill canvas{position: absolute; top: 0; left:0;}
.rounded-skill .counter .timer{display: inline;}
/* Dark skill bar */
.dark-bg .rounded-skill{color:#ffffff;}