/*--------------------------------------------------
Tabbing
---------------------------------------------------*/
/* Tab Left Top */
.tab .nav-tabs{width:100%; margin:0px; border: none;}
.tab .nav-tabs li{margin:0; float:none; display:inline-block;}
.tab .nav-tabs li.active{border-bottom:none; background:none;}
.tab .nav-tabs li a{border:none; display:inline-block; background: transparent; padding:13px 30px; position:relative; margin-right: 0px; color: #333333; font-size: 14px; font-weight: 400; text-transform: uppercase; -moz-transition: all 0.3s; -webkit-transition: all 0.3s; transition: all 0.3s; border-radius: 50px;}
.tab .nav-tabs li a i{font-size:16px; margin-right:5px; position: relative; top: 1px;}
.text-white .tab .nav-tabs li a{color: #fff}
.tab .nav-tabs li a:hover{color:$as-theme; border: none;}
.tab .nav-tabs li.active a{color:#ffffff; background: $as-theme; border: none; box-shadow: 0px 10px 30px 0px rgba(10,120,228,0.2);}
.tab .tab-content{width:100%; margin-top:0; padding:20px; padding-left:0; padding-bottom:0; text-align: left;}
/**************************
Tab - Border
*************************/
.tab.tab-border .nav-tabs{display: inline-block; width: auto; border: 1px solid #ddd; border-radius: 50px;}
.tab.tab-border .nav-tabs li{float: left;}
.tab.tab-border .nav-tabs li a{border-radius: 0;}
.tab.tab-border .nav-tabs li:first-child a{border-radius: 60px 0 0 60px;}
.tab.tab-border .nav-tabs li:last-child a{border-radius: 0 60px 60px 0;}
/**************************
Tab - Border
*************************/
.tab.tab-border-bottom .nav-tabs li{margin: 0 -2px;}
.tab.tab-border-bottom .nav-tabs li a{padding:13px 15px;}
.tab.tab-border-bottom .nav-tabs li.active a{color:$as-theme; background: transparent; border: none; box-shadow: none;}
.tab.tab-border-bottom .nav-tabs li a:after{content:""; width:100%; height:1px; background:#dddddd; position:absolute; bottom:0px; left:0; -webkit-transition: all .3s ease; -o-transition: all .3s ease; transition: all .3s ease; z-index: 1;}
.tab.tab-border-bottom .nav-tabs li a:before{content:""; width:0; height:4px; background:$as-theme; position:absolute; bottom:-1px; left:50%; -webkit-transition: all .3s ease; -o-transition: all .3s ease; transition: all .3s ease; z-index: 2;}
.tab.tab-border-bottom .nav-tabs li.active a:before{width:100%; left:0;}
