/*============================================*/
/* Testimonials */
/*============================================*/
.testimonail-slider .author-info .name-info {
    margin-top: 25px;
}
.testimonail-slider .author-info .name-info .name {
    font-size: 16px;
    color: #233d63;
    font-weight: 600;
    margin-bottom: 0;
}
.testimonail-slider .author-info .name-info span {
    color: #a5abb5;
    font-size: 14px;
}

/*------------------------------*/
/* Testimonail Image Style 1 */
/*------------------------------*/
.testimonail-image.image-style1 {
	text-align: center;
	position: relative;
}
.testimonail-image.image-style1:before {
    content: '';
    width: 180px;
    height: 230px;
    background: #fd8558;
    border-radius: 8px;
    position: absolute;
    top: -100px;
    left: 0;
    z-index: -1;
}
.testimonail-image.image-style1 img {
	box-shadow: 0 3px 45px rgba(0,0,0,0.3);
}

/*------------------------------*/
/* Testimonail Style 1 */
/*------------------------------*/
.testimonail-style1 .section-title {
    margin-bottom: 30px;
}
.testimonail-style1 .author-description {
	font-family: 'Asap', sans-serif;
	font-size: 20px;
	font-weight: 400;
	font-style: italic;
	line-height: 34px;
}

.testimonail-style1 .carousel-control {
	display: flex;
	justify-content: flex-end;
	margin-top: -40px;
}
.testimonail-style1 .carousel-control .carousel-control-prev,
.testimonail-style1 .carousel-control .carousel-control-next{
	position: relative;
	width: auto;
	padding: 0 10px;
}
.testimonail-style1 .carousel-control .carousel-control-prev{
	padding-left: 0;
}
.testimonail-style1 .carousel-control .carousel-control-next{
	padding-right: 0;
}

/*------------------------------*/
/* Testimonail Style 2 */
/*------------------------------*/
.testimonail-style2 .section-title {
    margin-bottom: 30px;
}
.testimonail-style2 .author-description {
	font-family: 'Asap', sans-serif;
	font-size: 20px;
	font-weight: 400;
	font-style: italic;
	line-height: 34px;
}
.testimonail-style2 .carousel-control {
	margin-top: 20px;
}
.testimonail-style2 .carousel-control .carousel-control-prev,
.testimonail-style2 .carousel-control .carousel-control-next{
	display: inline-block;
	position: relative;
	width: auto;
	padding: 10px 23px;
	border-radius: 50px;
	box-shadow: 0 3px 20px rgba(0,0,0,0.0);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.testimonail-style2 .carousel-control .carousel-control-prev:hover,
.testimonail-style2 .carousel-control .carousel-control-next:hover{
	box-shadow: 0 3px 20px rgba(0,0,0,0.04);
}

/*------------------------------*/
/* Testimonail Style 3 */
/*------------------------------*/
.testimonail-style3 .testimonail-item {
	background: #ffffff;
	padding: 50px 40px;
	margin: 15px;
	box-shadow: 0 3px 15px rgba(0,0,0,0.05);
}
.testimonail-style3 .carousel-inner {
	margin-left: -15px;
	margin-right: -15px;
	padding-left: 15px;
	padding-right: 15px;
}
.testimonail-style3 .carousel-inner .row .col-md-4{
	padding: 0;
}
.testimonail-style3 .testimonail-item .author-info {
	display: flex;
	margin-bottom: 30px;
}
.testimonail-style3 .testimonail-item .author-info .author-photo {
	padding-right: 25px;
}
.testimonail-style3 .testimonail-item .author-info .author-photo img{
	border-radius: 100px;
	width: 70px;
}
.testimonail-style3 .testimonail-item .author-info .name-info {
	margin-top: 0;
	align-self: center;
}
.testimonail-style3 .testimonail-item .author-info .name-info .name {
	line-height: 20px;
}
.testimonail-style3 .testimonail-item .author-description {
	font-size: 16px;
	line-height: 28px;
	position: relative;
	z-index: 9;
}
.testimonail-style3 .testimonail-item .author-description:before {
	content: "\f10d";
	font-family: FontAwesome;
	position: absolute;
	top: 0;
	left: 0;
	font-size: 50px;
	color: #f5f5f5;
	z-index: -1;
}

/* Carousel Control */
.testimonail-title {
	padding-right: 15%;
}
.testimonail-title .section-title {
    margin-bottom: 10px;
}
.testimonail-style3 .carousel-control{
	position: absolute;
	top: -50px;
	right: 0;
	display: flex;
	width: 100px;
}
.testimonail-style3 .carousel-control-next, 
.testimonail-style3 .carousel-control-prev {
	position: relative;
	width: auto;
}