/*------------------------------------------------
Video PopUp
-------------------------------------------------*/
.video-info{position:relative;}
.video-info:before{content:""; position:absolute; width:100%; height:100%; background:rgba(0,0,0,0.2); z-index:9;}
.video-info a,
.video-info .video-btn{position:absolute; left:50%; top:50%; width:70px; height:70px; margin-left:-35px; margin-top:-35px; z-index:9; border-radius:50px; text-align:center; overflow:hidden;
background: $as-theme;}
.video-info a i,
.video-info .video-btn i{color:#ffffff; font-size:26px; margin-top:22px; margin-left:8px; display:block; position:relative;}
.video-info a:hover,
.video-info .video-btn:hover{-webkit-transform: scale(1.2); -moz-transform: scale(1.2); transform:scale(1.2);}

/* Video PopUp CSS */
.mfp-fade.mfp-bg {
opacity: 0;
-webkit-transition: all 0.15s ease-out;
-moz-transition: all 0.15s ease-out;
transition: all 0.15s ease-out;
}
.mfp-fade.mfp-bg.mfp-ready{opacity: 0.8;}
.mfp-fade.mfp-bg.mfp-removing{opacity: 0;}
.mfp-fade.mfp-wrap .mfp-content {
opacity: 0;
-webkit-transition: all 0.15s ease-out;
-moz-transition: all 0.15s ease-out;
transition: all 0.15s ease-out;
}
.mfp-fade.mfp-wrap.mfp-ready .mfp-content{opacity: 1;}
.mfp-fade.mfp-wrap.mfp-removing .mfp-content{opacity: 0;}

.video-btn.btn-rel{width:70px; height:70px; z-index:9; border-radius:50px; text-align:center; overflow:hidden; display: inline-block;}
.video-btn.btn-rel i{font-size:26px; margin-top:22px; margin-left:8px; display:block; position:relative;}