#products_grid_before {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding: 0;
    padding-top: 2%;
}
#products_grid {
    width: 97%;
    margin: 0 auto;
    float: none;
}
.menu-filter{
    display: inline-block;
}

.popup-overlay.active {
    background: rgba(0, 0, 0, 0.4) !important;
    z-index: 9998;
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100% !important;
    height: 100% !important;
    transition: opacity 1s;
    max-width: 100% !important;
}