.header.site-header{
    position: relative;
    -webkit-box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.05);
}
.header-topbar .navbar-brand.logo img{
	width: auto;
    height: 55px;
}

.header-main .logo .navbar-brand{
	padding: 0;
	margin: 0;
}

/*----------------------*/
/* Header Topbar */
/*----------------------*/
.header-topbar{
	border-bottom: 1px solid #eeeeee;
	padding: 8px 0;
	font-size: 15px;
	color: #7e7e7e;
}
.header-topbar a{
	color: #7e7e7e;
}

.header-topbar .headerl-social{margin-right: 0; margin-left: 20px;}
.header-topbar .header-setting{margin-right: 0;}
@media screen and (min-width: $break-ipda){
header .header-main .navbar-brand.logo{display: none;}
}
.header-main .navbar-nav > li {

    border-left: 1px solid #eee;
    margin: 0;

}
.header-main .navbar-nav > li:first-child {

    border-left: none;

}


.header-main .navbar-nav li .nav-link {

    padding-left: 20px;
    padding-right: 20px;

}
.header-main .navbar-nav > li > a::before{display: none;}
header .header-main.navbar-light .navbar-nav .nav-link:hover, header .header-main .navbar-nav li:hover > a, header .header-main .navbar-nav li:hover > a, header .header-main .navbar-nav li > a:hover,
.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active{
  color: $as-theme !important;
}

/*-------------------*/
/* Social icons */
/*-------------------*/
.headerl-social{
	padding: 0;
    margin: 0;
    list-style-type: none;
}
.headerl-social li{
	display: inline;
}
.headerl-social li a{
	display: inline-block;
	color: #323232;
	font-size: 14px;
	padding: 0 6px;
}
.headerl-social li a:hover{
	color: $as-theme;
}

/*-------------------*/
/* Header Icons */
/*-------------------*/
.header-icons{
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
}
.header-icons > div{
	position: relative;
	margin-left: 20px;
}
.header-icons > div i:hover{
	color: $as-theme;
}
.header-icons .wishlist-icon,
.header-icons .cart-icon{
	
}
.header-icons .my_wish_quantity,
.header-icons .my_cart_quantity{
	position: absolute;
    top: -5px;
    right: -10px;
    font-size: 11px;
    padding: 0;
    width: 15px;
    height: 15px;
    line-height: 15px;
    text-align: center;
    border-radius: 50px;
    font-weight: 500;
	background-color: $as-theme;
}

/*------------*/
/* Language */
/*------------*/
.header-setting{
	display: inline-block;
    margin-left: 15px;
}
.header-setting .form-language{
	padding-left: 5px;
}
.header-setting h4{
	display: none;
}
.header-setting .form-language .js_language_selector{
	padding: 0;
    margin: 0;
    list-style-type: none;
}
.header-setting .form-language .js_language_selector .dropdown-toggle{
	padding: 0;
    margin: 0;
    font-size: 14px;
    color: #323232;
}
.header-setting .form-language .js_language_selector .dropdown-menu{
	padding: 5px 0;
}
.header-setting .form-language .js_language_selector .dropdown-menu > li > a{
	padding: 5px 15px;
	font-size: 13px;
}
.header-setting .form-language .js_language_selector .dropdown-menu > li > a i{
	font-size: 14px;
	padding-right: 5px;
}


/*----------------------*/
/* Header Main */
/*----------------------*/
.site-logo img{
	width: 180px;
	padding: 15px 0;
}

/*-------------------*/
/* Menu Trigger */
/*-------------------*/
.menu-trigger{
  display: inline-block;
  width: 25px;
  height: 18px;
  position: relative;
  z-index: 1041;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

.menu-trigger span{
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: #323232;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}
.menu-trigger span:nth-child(1) {
  top: 0px;
}
.menu-trigger span:nth-child(2) {
  top: 8px;
}
.menu-trigger span:nth-child(3) {
  top: 16px;
}
.menu-trigger.open span:nth-child(1) {
  top: 8px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}
.menu-trigger.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}
.menu-trigger.open span:nth-child(3) {
  top: 8px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.main-navigation .navbar-nav .dropdown-menu {
	position: relative !important;
	transform: inherit !important;
	text-align: center !important;
}

/*--------------------*/
/* Overlay Menu */
/*--------------------*/
.overlay-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1040;
    display: table;
}
.overlay-menu:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    content: "";
    z-index: -1;
    opacity: 0.97;
}
.overlay-menu{
    visibility: hidden;
    opacity: 0;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition-duration: 0.6s;
    -o-transition-duration: 0.6s;
    transition-duration: 0.6s;
    -webkit-transition-delay: 0.1s;
    -o-transition-delay: 0.1s;
    transition-delay: 0.1s;
}
.overlay-menu.menu-open {
    visibility: visible;
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition-duration: 0.6s;
    -o-transition-duration: 0.6s;
    transition-duration: 0.6s;
}
.overlay-menu .main-navigation{
    text-align: center;
    height: 100vh;
    padding: 30px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    overflow: auto;
}
.overlay-menu .main-navigation .navbar-nav {
    margin: auto;
	width: 80%;
}
.overlay-menu .main-navigation .navbar-nav{
    opacity: 0;
    -webkit-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
}
.overlay-menu.menu-open .main-navigation .navbar-nav {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}
.overlay-menu .main-navigation .navbar-nav > li {
    margin-bottom: 15px;
	display: block;
	text-align: center;
}
.overlay-menu .main-navigation .navbar-nav > li > a {
    display: inline-block;
    font-size: 30px;
    line-height: 40px;
    color: #757575;
    font-weight: 500;
    position: relative;
    padding-top: 0;
	padding-bottom: 10px;
    text-decoration: none;
}
.overlay-menu .main-navigation .navbar-nav > li:hover > a,
.overlay-menu .main-navigation .navbar-nav > li.active > a,
.overlay-menu .main-navigation .navbar-nav > li > a:hover{
	color: #323232;
}
.overlay-menu .main-navigation .navbar-nav li .submenu{
	background: none;
	border: none;
	padding: 0;
	margin: 0;
	text-align: center;
}
.overlay-menu .main-navigation .navbar-nav li .submenu li {
    margin-bottom: 0;
}
.overlay-menu .main-navigation .navbar-nav li .submenu li a {
    font-size: 18px;
    line-height: 40px;
    font-weight: 400;
    padding-bottom: 0;
}

.overlay-menu .main-navigation .navbar-nav li.li-mega-menu a {
	color: #323232;
}

body .main-navigation .navbar-nav li .dropdown-menu {
	display: none !important;
	visibility: visible;
	opacity: 1;
	box-shadow: none;
	margin: 0 !important;
	padding: 0 !important;
	max-height: 400px;
	overflow: auto;
}
body .main-navigation .navbar-nav li.show .dropdown-menu {
	display: block !important;
}

/*-------------------*/
/* Mega Blog */
/*-------------------*/
.header-main .navbar-nav > li.li-mega-menu .ac-maga-blog .ac-item {
	padding: 0;
	margin: 0;
}
.header-main .navbar-nav > li.li-mega-menu .ac-maga-blog .ac-item li{
	padding: 0;
	margin-top: 20px;
}
.header-main .navbar-nav > li.li-mega-menu .ac-maga-blog .ac-item li:first-child{
	margin-top: 0px;
}
.header-main .navbar-nav > li.li-mega-menu .ac-maga-blog .ac-item li a{
	display: flex;
	width: 100%;
}
.header-main .navbar-nav > li.li-mega-menu .ac-maga-blog .ac-item li .s_latest_posts_post {
	margin-top: 0 !important;
}
.header-main .navbar-nav > li.li-mega-menu .ac-maga-blog .ac-item li .o_blog_cover_container {
	padding: 0;
	margin: 0;
	width: 80px;
	height: 60px;
	margin-right: 20px;
}
.header-main .navbar-nav > li.li-mega-menu .ac-maga-blog .ac-item li .o_blog_cover_image {
	width: 100%;
	height: 100%;
	background-size: cover;
}
.header-main .navbar-nav > li.li-mega-menu .ac-maga-blog .ac-item li h6 {
	width: 100%;
	font-size: 14px;
	line-height: 20px;
	font-weight: 600;
	margin-bottom: 0;
	align-self: center;
}

/*------*/
.main-navigation .navbar-nav > li > .dropdown-menu {
	background: none;
	border: none;
	padding: 0;
	margin: 0;
}
.main-navigation .navbar-nav > li > .dropdown-menu li a{
	font-size: 16px;
	background: none;
	padding: 8px 0;
}
.main-navigation .navbar-nav > li > .dropdown-menu li a.active {
	color: $as-theme;
}
.main-navigation .navbar-nav > li.li-mega-menu > .dropdown-menu{
	position: relative !important;
    transform: inherit !important;
    width: auto;
    border: none;
    padding: 0
}
.main-navigation .navbar-nav > li.li-mega-menu > .dropdown-menu li a{
	font-size: 16px;
	padding: 0;
}

/*-------------------*/
/* Responsive Header */
/*-------------------*/
$break-ipad: 992px;

@media screen and (max-width: $break-ipad){
	.hide-mobile{
		display: none;
	}
	.overlay-menu .main-navigation .navbar-nav {
		width: 100%;
	}
	#hamburger-menu > li,
	#hamburger-menu ul li{
		width: 100% !important;
		margin: 0 !important;
		line-height:20px;
	}
	#hamburger-menu > li.li-mega-menu > .dropdown-menu{
		padding: 20px;
	}
	#hamburger-menu > li.li-mega-menu > .dropdown-menu li a{
		color: #323232;
	}
	#hamburger-menu > li.li-mega-menu > .dropdown-menu .ac-cat-list.ac-mega-1_col > .item,
	#hamburger-menu > li.li-mega-menu > .dropdown-menu .ac-cat-list.ac-mega-2_col > .item,
	#hamburger-menu > li.li-mega-menu > .dropdown-menu .ac-cat-list.ac-mega-3_col > .item,
	#hamburger-menu > li.li-mega-menu > .dropdown-menu .ac-cat-list.ac-mega-4_col > .item,
	#hamburger-menu > li.li-mega-menu > .dropdown-menu .ac-cat-list.ac-mega-5_col > .item,
	#hamburger-menu > li.li-mega-menu > .dropdown-menu .ac-cat-list.ac-mega-6_col > .item{
		width: 100%;
	}
	#hamburger-menu > li.li-mega-menu > .dropdown-menu .cm-product-grid.ac-mega-1_col > .item,
	#hamburger-menu > li.li-mega-menu > .dropdown-menu .cm-product-grid.ac-mega-2_col > .item,
	#hamburger-menu > li.li-mega-menu > .dropdown-menu .cm-product-grid.ac-mega-3_col > .item,
	#hamburger-menu > li.li-mega-menu > .dropdown-menu .cm-product-grid.ac-mega-4_col > .item,
	#hamburger-menu > li.li-mega-menu > .dropdown-menu .cm-product-grid.ac-mega-5_col > .item,
	#hamburger-menu > li.li-mega-menu > .dropdown-menu .cm-product-grid.ac-mega-6_col > .item{
		width: 50%;
	}
}