.header-topbar{padding: 30px 0;}
.header-main{background: $as-theme !important;}

.header-main .navbar-nav li > .nav-link{color: #ffffff !important;}

.top-contact i {

    font-size: 35px;
    color: $as-theme;

}

.header-icons {
    padding-right: 30px;

}

.header-icons > div i{color: #ffffff;}

.headerl-social {

    position: relative;
    z-index: 1;
    height: 70px;
    line-height: 70px;

}
.headerl-social::after {

    content: "";
    width: 5000px;
    height: 100%;
    background-color: #313437;
    left: 0;
    top: 0;
    position: absolute;
    z-index: 0;
    z-index: -1;

}
.headerl-social li > a {

    width: 45px;
    font-size: 16px;
    color: rgba( 255,255,255,1);

}


/*===========================================================================*/
/*-------------- Header Responsive ---------------*/
/*===========================================================================*/
@media (max-width: 992px){

}

@media (max-width: 767px){  	
  	body header .navbar-default{width: 100%; padding: 0;}
  	body header .navbar-default .navbar-toggle{border-radius: 0; float: left; margin-left: 15px; border-color: #ffffff;}
    body .navbar-default .navbar-toggle .icon-bar{background-color: #ffffff;}
    body .navbar-default .navbar-toggle:hover, 
    body .navbar-default .navbar-toggle:focus{background: none;}

  	body header .header-buttons{position: absolute; bottom: 0px; right: 0; padding-top: 5px; padding-bottom: 4px; padding-left: 10px; padding-right: 10px; z-index: 9;}

  	body header .navbar-default .navbar-collapse{padding: 0; margin: 0; position: absolute; left: 0; width: 100%; background: #ffffff; -webkit-box-shadow: 0 10px 15px rgba(0,0,0,0.1); -ms-box-shadow: 0 10px 15px rgba(0,0,0,0.1); box-shadow: 0 10px 15px rgba(0,0,0,0.1); z-index: 999;}
  	body header .navbar-default .navbar-nav{padding: 5px 15px;}
  	body header .navbar-default .navbar-nav > li{border-bottom: 1px solid #e8e8e8;}
  	body header .navbar-default .navbar-nav > li:last-child{border-bottom: none;}
  	body header .navbar-default .navbar-nav > li > a{padding: 10px 0px; position: relative;}
  	body header .navbar-default .navbar-nav > li > a .caret{position: absolute; right: 3px; top: 18px;}

  	body header .navbar-default .navbar-nav > .open > a, 
  	body header .navbar-default .navbar-nav > .open > a:focus, 
  	body header .navbar-default .navbar-nav > .open > a:hover,
  	body header .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  	body header .navbar-default .navbar-nav .dropdown-menu > li.active > a{background: none;}

  	body header .navbar-default .navbar-nav .dropdown-menu{padding: 5px 15px; background: rgba(0,0,0,0.02);}
  	body header .navbar-default .navbar-nav .dropdown-menu > li{border-bottom: 1px solid #e8e8e8;}
  	body header .navbar-default .navbar-nav .dropdown-menu > li:last-child{border-bottom: none;}
  	body header .navbar-default .navbar-nav .dropdown-menu > li > a{padding: 8px 0px;}

}

@media (max-width: 479px){
  	body .header-logos img {height: 30px;}
}