footer .site-footer { background: #16191c;  color: #888;}
footer .site-footer  .site-info, .site-footer.footer2  .site-info,.site-footer.footer4  .site-info,.site-footer hr{ background: none; border-top: 1px solid #333333}

footer .site-footer .social-link li a, 
.footer-menu li,
.footer-menu li a, 
.contact-info li i{color: #888;}

footer .social-link li a:hover{background: #ffffff;}
footer .site-footer .footer-title {color: #fff}
footer .site-footer .btn.btn-primary {
    background: #ffffff;
    border: 1px solid #ffffff;
    color: #323232;
}

body footer .js_subscribe_email.form-control{background: rgba(254, 254, 254, 0.09);}

footer .site-footer .site-info{background: #22272b; border-top: none;}
footer .site-footer.footer2 .site-info {border-top: 1px solid rgba(255,255,255,0.15);}
footer .site-footer.footer4 .site-info {border-top: 1px solid rgba(255,255,255,0.15);}

footer .bottom-footer{background: #16191c; border-top: 1px solid rgba(255,255,255,0.1);}